<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="{{ url_for('static', filename='dashboard/img/icons/usat_logo_red.jpg') }}" />
    <title>USAT - {% block titulo %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard/css/app.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-2.0.3/datatables.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.5.0/css/rowReorder.bootstrap5.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.bootstrap5.css">
	<script src="/static/js/jquery-1.8.2.min.js"></script>
</head>

<style>
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid black;
        object-fit: cover;
        background-color: lightgray;
        }
    body{
        overflow: hidden;
    }
    html, body {
        height: 100%;
    }
    .wrapper {
        display: flex;
        height: 100%;
    }
    .footer {
        background-color: #cfcfcf;
        text-align: center;
        padding: 0px 0;
        color: rgb(92, 92, 92);
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 7%;
    }
    .content {
        height: 100%;
        margin-top: 5%;
        margin-bottom: 2%;
        overflow-y: auto;
        flex: 1;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 81.9%;
        overflow-y: auto;
    }
    .main {
        margin-left: 16.9%;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .navbar {
        position: fixed;
        top: 0;
        width: 83%;
        right: 0;
        z-index: 1000;
    }
    .sidebar-link {
        display: flex;
        align-items: center;
    }
    .sidebar-link i {
        width: 24px;
        height: 24px;
        text-align: center;
        margin-right: 10px;
    }
    
    @media (max-width: 768px) {
        .sidebar {
            width: 200px;
        }
        
        .main {
            margin-left: 200px;
        }

        .navbar {
            left: 200px;
        }
    }

    @media (max-width: 576px) {
        .sidebar {
            display: none;
        }
        
        .main {
            margin-left: 0;
        }

        .navbar {
            left: 0;
            width: 100%;
        }
    }
</style>
<body>
    <div class="wrapper">
        <div id="loader" class="loader-wrapper">
            <div class="loader"></div>
        </div>

        {% block sidebar %}
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="{{ url_for('router_main.index') }}">
                    <img src="{{ url_for('static', filename='login/images/usat_logo_atrás.png') }}" alt="logoescuela"
                        style="max-width: 160px; display: flex;">
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header" id="tituloInicio">Inicio</li>                   
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ url_for('router_main.perfil') }}">
                            <i class="fas fa-address-card fa-lg"></i>
                            <span class="align-middle">Perfil</span>
                        </a>
                    </li>
        
                    <li class="sidebar-header" id="tituloPracticas" style="display: none;">Módulo de Prácticas Pre Profesionales</li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ url_for('router_main.ppp') }}" id="practicas" style="display: none;">
                            <i class="fas fa-graduation-cap fa-lg"></i>
                            <span class="align-middle">Prácticas Pre Profesionales</span>
                        </a>
                    </li>

                    <li class="sidebar-header" id="tituloInformes" style="display: none;">Informes</li>
                    <li  class="sidebar-item">
                        <a class="sidebar-link" href="{{ url_for('router_main.informeInicialEstudiante') }}" id="informeInicialEstudiante" style="display: none;">
                            <i class="far fa-file fa-lg"></i>
                            <span class="align-middle">Informe Inicial Estudiante</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ url_for('router_main.informeInicialEmpresa') }}" id="informeInicialEmpresa" style="display: none;">
                            <i class="fas fa-file fa-lg"></i>
                            <span class="align-middle">Informe Inicial Empresa</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ url_for('router_main.informeFinalEstudiante') }}" id="informeFinalEstudiante" style="display: none;">
                            <i class="far fa-file-alt fa-lg"></i>
                            <span class="align-middle">Informe Final Estudiante</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ url_for('router_main.informeFinalEmpresa') }}" id="informeFinalEmpresa" style="display: none;">
                            <i class="fas fa-file-alt fa-lg"></i>
                            <span class="align-middle">Informe Final Empresa</span>
                        </a>
                    </li>
                    <li class="sidebar-header" id="tituloReportes" style="display: none;">Reportes</li>
                    
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ url_for('router_main.reporte_estudiantes_practicas') }}" id="informesAlumno" style="display: none;">
                            <i class="fas fa-chart-line fa-lg"></i>
                            <span class="align-middle">Informe Prácticas Alumno</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ url_for('router_main.InformesAlumno') }}" id="informesAlumno" style="display: none;">
                            <i class="fas fa-chart-line fa-lg"></i>
                            <span class="align-middle">Informes por Alumno</span>
                        </a>
                    </li>
                    
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ url_for('router_main.horas_practica') }}" id="horasPractica" style="display: none;">
                            <i class="fas fa-chart-area fa-lg"></i>
                            <span class="align-middle">Horas de práctica</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ url_for('router_main.horas_practica_escuela') }}" id="horasPracticaEscuela" style="display: none;">
                            <i class="fas fa-chart-area fa-lg"></i>
                            <span class="align-middle">Horas de práctica por escuela</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ url_for('router_main.practicas_terminadas') }}" id="practicasTerminadas" style="display: none;">
                            <i class="fas fa-chart-area fa-lg"></i>
                            <span class="align-middle">Prácticas terminadas del mes</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ url_for('router_main.dashboard_tendencias') }}" id="dashboardTendencias" style="display: none;">
                            <i class="fas fa-chart-area fa-lg"></i>
                            <span class="align-middle">Dashboard de Tendencias</span>
                        </a>
                    </li>
                </ul>                
            </div>
        </nav>
        {% endblock %}

        <div class="main bg-grey-usat">
            {% block navbar %}
            <nav class="navbar navbar-expand navbar-light navbar-bg sticky-top">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                                <img id="github-profile-pic" src="" alt="foto_perfil" class="avatar" />
                                <span id="usernamenav" class="text-dark fw-bold"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="{{ url_for('router_main.perfil') }}">
                                    <i class="align-middle me-1" data-feather="user"></i> Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" id="btnCerrarSesion" onclick="cerrarSesion()">Cerrar Sesión</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            {% endblock %}

            <main class="content" id="container-body" style="padding: 15px; height: calc(100vh - 100px);">
                {% block contenido %}{% endblock %}
            </main>

            {% block footer %}
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>USAT</strong></a>
                                - <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>2024-I</strong></a> &copy;
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
            {% endblock %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-zxRejdoFDcngA6sZ82AA4ZNZB8sEOB0lLw9/+8DkzjSmtLOqXiwj8ULjHzTp6NZO"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='login/libs/sweetalert2/sweetalert2.js') }}"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace()
    </script>
    <script>
        function cerrarSesion() {
            localStorage.clear();
            sessionStorage.clear();
            fetch('/logout', {
                method: 'GET',
                credentials: 'same-origin'
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/login';
                } else {
                    alert('Hubo un error al cerrar sesión. Inténtalo de nuevo.');
                }
            })
            .catch(error => {
                console.error('Error al cerrar sesión:', error);
                alert('Hubo un problema al cerrar sesión.');
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            var fotoBase64 = localStorage.getItem('f') || sessionStorage.getItem('f');
            let usuario = localStorage.getItem('username') || sessionStorage.getItem('username');
            const idTipoUsuario = localStorage.getItem('id_tipo_usuario') || sessionStorage.getItem('id_tipo_usuario');
            if (fotoBase64) {
                document.getElementById('github-profile-pic').src = 'data:image/jpeg;base64,' + fotoBase64;
            }
            if (usuario) {
                document.getElementById('usernamenav').textContent = usuario;
            }
            if (idTipoUsuario === '1' || idTipoUsuario === '2') {
                document.getElementById('tituloPracticas').style.display = 'flex';
                document.getElementById('tituloInformes').style.display = 'flex';
                document.getElementById('tituloReportes').style.display = 'flex';
                document.getElementById('practicas').style.display = 'flex';
                document.getElementById('informeInicialEstudiante').style.display = 'flex';
                document.getElementById('informeFinalEstudiante').style.display = 'flex';
                document.getElementById('informeInicialEmpresa').style.display = 'flex';
                document.getElementById('informeFinalEmpresa').style.display = 'flex';
                document.getElementById('informesAlumno').style.display = 'flex';
                document.getElementById('horasPractica').style.display = 'flex';
                document.getElementById('horasPracticaEscuela').style.display = 'flex';
                document.getElementById('practicasTerminadas').style.display = 'flex';
                document.getElementById('dashboardTendencias').style.display = 'flex';
            } else if (idTipoUsuario === '3') {
                document.getElementById('tituloInformes').style.display = 'flex';
                document.getElementById('informeInicialEstudiante').style.display = 'flex';
                document.getElementById('informeFinalEstudiante').style.display = 'flex';
            } else if (idTipoUsuario === '4') {
                document.getElementById('tituloInformes').style.display = 'flex';
                document.getElementById('informeInicialEmpresa').style.display = 'flex';
                document.getElementById('informeFinalEmpresa').style.display = 'flex';
            }
        });
    </script>    
    {% block scripts %}{% endblock %}
</body>

</html>
