{% extends "/ppp/home.html" %}
{% block titulo %} Informe Final de Prácticas (Empresa) {% endblock %}
{% block contenido %}
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.index') }}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.practicas_pre_profesionales') }}">Módulo de Prácticas Pre Profesionales</a></li>
        <li class="breadcrumb-item active">Informe Final de Prácticas (Empresa)</li>
    </ol>
</nav>

<div class="container-fluid my-4 scrollable">
    <div class="card w-100">
        <div class="card-header bg-red-usat text-white">
            Informe Final de Prácticas Pre Profesionales (Elaborado por la Empresa)
        </div>
        <div class="card-body">
            <form id="form-informe-final-empresa" action="{{ url_for('router_informe.agregar_informe_final_empresa') }}" method="post">
                <!-- Datos de la Empresa/Institución -->
                <div class="row"> 

                    <div class="col-lg-6"> 

                        <fieldset>
                            <legend>Datos de la Empresa/Institución</legend>
                            <div class="mb-3">
                                <label for="numDoc_empresa" class="form-label">Documento Identidad Empresa: *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="numDoc_empresa" name="numDoc_empresa" required>
                                    <button class="btn btn-primary" type="button" id="buscar_empresa">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="nombre_empresa" class="form-label">Razón Social de la Empresa:</label>
                                <input type="text" class="form-control" id="nombre_empresa" name="nombre_empresa" required readonly>
                            </div>
                            
                            <div class="row"> 
                                <div class="col-lg-6 mb-3">
                                    <label for="doc_jefe" class="form-label">Documento Identidad Responsable:</label>
                                    <input type="text" class="form-control" id="doc_jefe" name="doc_jefe" required readonly>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label for="cargo_responsable" class="form-label">Cargo del Responsable:</label>
                                    <input type="text" class="form-control" id="cargo_responsable" name="cargo_responsable" required >
                                </div>
                            </div>
                            <div class=" row mb-3">
                                <div class="col-lg-6">
                                    <label for="apellidos_responsable" class="form-label">Apellidos del Responsable:</label>
                                    <input type="text" class="form-control" id="apellidos_responsable" name="apellidos_responsable" required >
                                </div>
                                <div class="col-lg-6">
                                    <label for="nombre_responsable" class="form-label">Nombres del Responsable:</label>
                                    <input type="text" class="form-control" id="nombre_responsable" name="nombre_responsable" required >
                                </div>
                                
                            </div>
                            
                        </fieldset>
    
                    </div> 
    
                    <div class="col-lg-6">
                        
                        <!-- Datos del Estudiante -->
                        <fieldset>
                            <legend>Datos del Estudiante</legend>
                            <div class="mb-3">
                                <label for="doc_estudiante" class="form-label">Documento Identidad Prácticante: *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="doc_estudiante" name="doc_estudiante" required>
                                    <button class="btn btn-primary" type="button" id="buscar_estudiante">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-6">
                                    <label for="apellidos_estudiante" class="form-label">Apellidos del Estudiante:</label>
                                    <input type="text" class="form-control" id="apellidos_estudiante" name="apellidos_estudiante" required>
                                </div>
                                <div class="col-lg-6">
                                    <label for="nombre_estudiante" class="form-label">Nombres del Estudiante:</label>
                                    <input type="text" class="form-control" id="nombre_estudiante" name="nombre_estudiante" required>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-3">
                                    <label for="fecha_inicio" class="form-label">Fecha de Inicio de la Práctica:</label>
                                    <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" required>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label for="fecha_fin" class="form-label">Fecha de Término de la Práctica:</label>
                                    <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="area_estudiante" class="form-label">Area de Desarollo del Prácticante:</label>
                                <input type="text" class="form-control" id="area_estudiante" name="area_estudiante" required>
                            </div>
                        </fieldset>
                        
                    </div>

                </div> 
                
                <!-- Valoración sobre el Trabajo del Estudiante -->
                <fieldset>
                    <legend>Valoración sobre el Trabajo del Estudiante</legend>
                    <div class="mb-3">
                        <label for="cumplimiento_objetivos" class="form-label">Cumplimiento de los Objetivos:</label>
                        <textarea class="form-control" id="cumplimiento_objetivos" name="cumplimiento_objetivos" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="responsabilidad" class="form-label">Responsabilidad (Disciplina, Puntualidad, Relaciones Humanas, etc.):</label>
                        <textarea class="form-control" id="responsabilidad" name="responsabilidad" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="otros_aspectos" class="form-label">Otros Aspectos de Interés:</label>
                        <textarea class="form-control" id="otros_aspectos" name="otros_aspectos" rows="3"></textarea>
                    </div>
                </fieldset>

                <!-- Fecha y Firma -->
                <fieldset>
                    <legend>Fecha y Firma</legend>
                    <div class="row"> 
                        <div class="col-lg-4 mb-3">
                            <label for="fecha_firma" class="form-label">Fecha de la Firma:</label>
                            <input type="date" class="form-control" id="fecha_firma" name="fecha_firma" required>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="horas_pp" class="form-label">Cumplimiento del Total de Horas Planificadas:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="horas_pp" name="horas_pp" required readonly>
                                <button class="btn btn-success" id="" id="">
                                    <i class="fas fa-check"></i>
                                </button>
                            </div>
                            
                        </div>
                        <div class="col-lg-4 mb-3"> 
                            <label for="firma_imagen" class="form-label">Subir Firma:</label>
                            <input type="file" class="form-control" id="firma_imagen" name="firma_imagen" accept="image/*">
                        </div> 
                    </div>
                    
                </fieldset>

                <button type="submit" class="btn btn-primary">Guardar Informe</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>

        // Acción al buscar empresa
        $('#buscar_empresa').on('click', function() {
            var numDoc = $('#numDoc_empresa').val(); // Obtener el num del doc
    
            // Validar si el campo está vacío
            if (numDoc === "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Debe ingresar un número de documento.',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    $('#numDoc_empresa').focus(); 
                });
                return;
            }
    
            // Hacer la solicitud AJAX
            $.ajax({
                url: "{{ url_for('router_jefe.obtener_jefe_por_docc', numDoc='') }}" + numDoc,  // Corregido para pasar el parámetro directamente
                type: 'GET',
                dataType: 'json', 
                success: function(response) {
                    if (response.razonSocial) {
                        // Si se encuentra, mostrar la razón social
                        $('#nombre_empresa').val(response.razonSocial);
                        $('#apellidos_responsable').val(response.apellidos);
                        $('#nombre_responsable').val(response.nombre);
                        $('#cargo_responsable').val(response.cargo);
                        $('#doc_jefe').val(response.numDoc); 

                        //enfocar
                        $('#doc_estudiante').focus();
                    } else {
                        // Si no se encuentra, mostrar un mensaje de error
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'No se encontró la empresa con el número de documento ingresado.',
                            confirmButtonText: 'Aceptar'
                        }).then(() => {
                            $('#doc_estudiante').focus(); // Enfocar en el campo después del error
                        });
                    }
                },
                error: function() {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Hubo un error al buscar la empresa.',
                        confirmButtonText: 'Aceptar'
                    });
                }
            }); 
        });
    
        // Acción al buscar estudiante
        $('#buscar_estudiante').on('click', function() {
            var doc_estudiante = $('#doc_estudiante').val(); // Obtener el doc_estudiante
    
            // Validar si el campo está vacío
            if (doc_estudiante === "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Debe ingresar un número de documento.',
                    confirmButtonText: 'Aceptar'
                });
                return;
            }

            function convertirFecha(fecha) {
                // Crear un objeto Date a partir de la cadena
                let date = new Date(fecha);
                
                // Formatear a YYYY-MM-DD
                let year = date.getFullYear();
                let month = (date.getMonth() + 1).toString().padStart(2, '0'); // Meses comienzan desde 0
                let day = date.getDate().toString().padStart(2, '0');
            
                return `${year}-${month}-${day}`; // Retornar en formato compatible
            }
    
            // Hacer la solicitud AJAX
            $.ajax({
                url: "{{ url_for('router_estudiante.obtener_estudiante_por_doc', doc_estudiante='') }}" + doc_estudiante,  // Corregido para pasar el parámetro correctamente
                type: 'GET',
                dataType: 'json', 
                success: function(response) {
                    if (response.nombre) {
                        // Si se encuentra, mostrar el nombre
                        $('#nombre_estudiante').val(response.nombre);
                        $('#apellidos_estudiante').val(response.apellidos);
                        $('#horas_pp').val(response.numeroHorasPPP); 
                        
                        // Convertir y asignar fechas
                        if (response.fechaInicio) {
                            let fechaInicio = convertirFecha(response.fechaInicio);
                            $('#fecha_inicio').val(fechaInicio);
                        }

                        if (response.fechaFin) {
                            let fechaFin = convertirFecha(response.fechaFin);
                            $('#fecha_fin').val(fechaFin);
                        }

                        $('#area_estudiante').focus(); 

                    } else {
                        // Si no se encuentra, mostrar un mensaje de error
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'No se encontró el estudiante con el número de documento ingresado.',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                },
                error: function() {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Hubo un error al buscar el estudiante.',
                        confirmButtonText: 'Aceptar'
                    });
                }
            });
        });
    
        // Enviar el formulario con AJAX
        $('#form-informe-final-empresa').on('submit', function(event) {
            event.preventDefault();  
            
            const formData = new FormData(this);  // Recoger los datos del formulario

            //obtener la imagen  
            var firma_imagen = $('#firma_imagen')[0].files[0];

            // Crear un FileReader para convertir la imagen a base64
            var reader = new FileReader();

            reader.onloadend = function() {
                // La imagen ya está convertida en base64
                var base64Firma = reader.result;
        
                // Recoger los demás datos del formulario
                var dataToSend = {
                    numDoc: $('#doc_estudiante').val(),
                    area_desarrollo: $('#area_estudiante').val(),
                    texto_responsabilidad: $('#responsabilidad').val(),
                    texto_otros_aspectos: $('#otros_aspectos').val(),
                    firma_imagen: base64Firma,  // Enviar la imagen como base64
                    cumplimiento_objetivos: $('#cumplimiento_objetivos').val(),
                    fecha: $('#fecha_firma').val()
                };

                // Hacer la solicitud AJAX para guardar el informe
                $.ajax({
                    url: "{{ url_for('router_informeEmpresa.guardar_informe_final_empresa') }}",  // Aquí se llama al endpoint
                    type: 'POST',
                    //data: formData,
                    contentType: 'application/json', //enviar como JSON
                    data: JSON.stringify(dataToSend),  // Convertir el objeto a JSON para enviarlo en el body de la petición
                    success: function(response){
                        console.log(response);
                        if(response.message){
                            Swal.fire({
                                icon: 'success',
                                title: '¡Éxito!',
                                text: response.message,  // Respuesta del servidor
                                confirmButtonText: 'Aceptar'
                            }).then(() => {
                                limpiarFormulario(); 
                                // Realiza alguna acción después de un envío exitoso
                            });
                        } else if (response.error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response.error,  // Mensaje de error desde el servidor
                                confirmButtonText: 'Aceptar'
                            });
                        }
                    },
                    error: function(xhr, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Hubo un error al enviar el formulario.',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                });
            }; //cierre agregado

            //leer la imagen con base64
            if (firma_imagen){
                reader.readAsDataURL(firma_imagen);
            }
        });

        // Función para limpiar los campos del formulario
        function limpiarFormulario() {
            // Limpiar campos de texto
            $('#nombre_empresa').val('');
            $('#doc_jefe').val('');
            $('#cargo_responsable').val('');
            $('#apellidos_responsable').val('');
            $('#nombre_responsable').val('');
            $('#nombre_estudiante').val('');
            $('#apellidos_estudiante').val('');
            $('#horas_pp').val('');
            $('#area_estudiante').val('');
            $('#cumplimiento_objetivos').val('');
            $('#responsabilidad').val('');
            $('#otros_aspectos').val('');
            $('#fecha_firma').val('');
            $('#fecha_inicio').val('');
            $('#fecha_fin').val('');

            // Limpiar el campo de archivo (firma)
            $('#firma_imagen').val('');

            $('#numDoc_empresa').val('');
            $('#doc_estudiante').val(''); 
        }

        

</script>
    


{% endblock %}
