{% extends "/ppp/home.html" %}
{% block titulo %} Informe Inicial (Estudiante) {% endblock %}
{% block contenido %}
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb" style="padding-bottom: 0px; margin-bottom: -10px;">
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.index') }}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.practicas_pre_profesionales') }}">Módulo de Prácticas Pre Profesionales</a></li>
        <li class="breadcrumb-item active">Informe Inicial (Estudiante)</li>
    </ol>
</nav>

<style>
    body {
        overflow: hidden;
    }
    fieldset {
        margin-bottom: 20px;
        padding-bottom: 15px;
    }
    .form-label {
        margin-bottom: 5px;
    }
    td > textarea {
        padding: 0;
    }

    td {
        padding: 0 !important;
    }
    .badge {
        font-size: 0.9rem;
        padding: 10px 20px;
        border-radius: 8px;
    }
</style>

<div class="container-fluid my-4">
    <div class="card w-100" style="height: 100%;">
        <div class="card-header bg-red-usat text-white">
            Informe Inicial de Prácticas Pre Profesionales (Estudiante)
        </div>
        <div class="card-body scrollable">
            <form id="form-informe">
                <!-- Encabezado -->
                <fieldset>   
                    <div class="row align-items-end">      
                        <div class="col-4">
                            <label for="estudianteb" class="form-label">Estudiante:</label>
                            <div class="d-flex align-items-end">
                                <div class="flex-grow-1 me-2">
                                    <div class="custom-combo">
                                        <input type="text" id="estudianteb" class="form-control" placeholder="Seleccionar estudiante" autocomplete="off">
                                        <ul id="dropdown-estudiantes" class="dropdown-menu"></ul>
                                    </div>
                                </div>
                                <button id="btnBuscarE" type="submit" class="btn btn-secondary">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-4 offset-4 d-flex justify-content-end align-items-center">
                            <span id="estado-indicador" class="badge d-none me-3"></span>
                            <button id="btnCancelar" type="button" class="btn btn-danger me-2">Cancelar</button>
                            <button id="btnGuardar" type="submit" class="btn btn-primary">Guardar Informe</button>     
                        </div> 
                        <input type="hidden" class="form-control me-2" id="id" name="id" required>                 
                        <input type="hidden" id="idPersonaMod" name="idPersonaMod">
                        <input type="hidden" id="idInformeMod" name="idInformeMod">                                                                                                
                    </div>   
                </fieldset>
                <div class="row">    
                    <div class="col-md-6">
                        <div class="datos-tabs">
                            <!-- Tab Datos del Estudiante y Empresa -->
                            <ul class="nav nav-tabs" id="datosTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="estudiante-tab" data-bs-toggle="tab" href="#estudiante" role="tab" aria-controls="estudiante" aria-selected="true">Datos del Estudiante</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="empresa-tab" data-bs-toggle="tab" href="#empresa" role="tab" aria-controls="empresa" aria-selected="false">Datos de la Institución</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="firmas-tab" data-bs-toggle="tab" href="#firmas" role="tab" aria-controls="firmas" aria-selected="false">Firmas</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="datosTabContent">
                                <!-- Datos del Estudiante -->
                                <div class="tab-pane fade show active" id="estudiante" role="tabpanel" aria-labelledby="estudiante-tab">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="nombre" class="form-label">Nombres:</label>
                                            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ session['nombre'] }}" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="apellidos" class="form-label">Apellidos:</label>
                                            <input type="text" class="form-control" id="apellidos" name="apellidos" value="{{ session['apellidos'] }}" readonly>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="codigo" class="form-label">Código del Estudiante:</label>
                                            <input type="text" class="form-control" id="codigo" name="codigo" value="{{ session['codigo'] }}" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="semestre" class="form-label">Semestre Académico:</label>
                                            <input type="text" class="form-control" id="semestre" name="semestre" value="{{ session['semestre'] }}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <!-- Datos de la Empresa -->
                                <div class="tab-pane fade" id="empresa" role="tabpanel" aria-labelledby="empresa-tab">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="institucion" class="form-label">Nombre de la Institución:</label>
                                            <input type="text" class="form-control" id="institucion" name="nombre_responsable" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="cargo_responsable" class="form-label">Cargo:</label>
                                            <input type="text" class="form-control" id="cargo_responsable" name="cargo_responsable" readonly>
                                        </div>    
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="apellido_responsable" class="form-label">Apellido del Responsable:</label>
                                            <input type="text" class="form-control" id="apellido_responsable" name="apellido_responsable" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="nombre_responsable" class="form-label">Nombre del Responsable:</label>
                                            <input type="text" class="form-control" id="nombre_responsable" name="nombre_responsable" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="firmas" role="tabpanel" aria-labelledby="firmas-tab">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="firma1" class="form-label">Firma del Estudiante:</label>
                                            <input type="file" class="form-control" id="firma1" name="firma1" accept="image/*" required>
                                            <div class="mt-2">
                                                <img id="firma1-preview" src="#" alt="Vista previa de la firma1" style="display: none; max-width: 100%; height: auto; border: 1px solid #ccc; padding: 5px;" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="firma2" class="form-label">Firma del Responsable:</label>
                                            <input type="file" class="form-control" id="firma2" name="firma2" accept="image/*" required>
                                            <div class="mt-2">
                                                <img id="firma2-preview" src="#" alt="Vista previa de la firma2" style="display: none; max-width: 100%; height: auto; border: 1px solid #ccc; padding: 5px;" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="fecha" class="form-label">Fecha de Entrega del Informe:</label>
                                            <input type="date" class="form-control" id="fecha" name="fecha" required readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>

                    <div class="col-md-6">
                        <div class="datos-tabs">
                            <!-- Tab Duración, Objetivos y Plan de Trabajo -->
                            <ul class="nav nav-tabs" id="practicaTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="duracion-tab" data-bs-toggle="tab" href="#duracion" role="tab" aria-controls="duracion" aria-selected="true">Duración</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="objetivos-tab" data-bs-toggle="tab" href="#objetivos" role="tab" aria-controls="objetivos" aria-selected="false">Objetivos</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="plan-tab" data-bs-toggle="tab" href="#plan" role="tab" aria-controls="plan" aria-selected="false">Plan de Trabajo</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="practicaTabContent">
                                <!-- Duración de la Práctica -->
                                <div class="tab-pane fade show active" id="duracion" role="tabpanel" aria-labelledby="duracion-tab">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="fechaInicio" class="form-label">Fecha de Inicio:</label>
                                                <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required readonly>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="fechaFin" class="form-label">Fecha de Término:</label>
                                                <input type="date" class="form-control" id="fechaFin" name="fechaFin" required readonly>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <!-- Objetivos de la Práctica -->
                                <div class="tab-pane fade" id="objetivos" role="tabpanel" aria-labelledby="objetivos-tab">
                                    <fieldset>
                                        <div class="d-flex mb-2">
                                            <button type="button" class="btn btn-primary btn-sm" id="agregarObjetivo" ><i class="fas fa-plus"></i> Agregar Objetivo</button>
                                            <button type="button" class="btn btn-danger btn-sm ms-2" id="eliminarObjetivo"><i class="fas fa-trash-alt"></i></i> Eliminar</button>
                                        </div>
                                        <table class="table table-bordered" id="tabla-objetivos">
                                            <thead>
                                                <tr>
                                                    <th style="width: 15%;" class="text-center">N°</th>
                                                    <th>Objetivo</th>
                                                    <th style="width: 10%;">Select</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="number" min="0" class="form-control" name="numero_objetivo[]" value=1 required readonly></td>
                                                    <td><textarea type="text" id="objetivo" class="form-control" name="objetivo[]" required></textarea></td>
                                                    <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-objetivo"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>

                                <!-- Plan de Trabajo -->
                                <div class="tab-pane fade" id="plan" role="tabpanel" aria-labelledby="plan-tab">
                                    <fieldset>
                                        <div class="d-flex mb-2">
                                            <button type="button" class="btn btn-primary btn-sm" id="agregarPlanTrabajo"><i class="fas fa-plus"></i> Agregar Semana</button>
                                            <button type="button" class="btn btn-danger btn-sm ms-2" id="eliminarPlanTrabajo"><i class="fas fa-trash-alt"></i></i> Eliminar</button>
                                        </div>
                                        <table class="table table-bordered" id="tabla-plan-trabajo">
                                            <thead>
                                                <tr>
                                                    <th style="width: 6%;">N°</th>
                                                    <th style="width: 18%;">Fechas</th>
                                                    <th>Actividades</th>
                                                    <th style="width: 10%;">Horas</th>
                                                    <th style="width: 10%;">Select</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="text" min="0" class="form-control" name="semana[]" value=1 required readonly></td>
                                                    <td>
                                                        <input type="date" class="form-control" name="fecha_inicio[]" required>
                                                        <input type="date" class="form-control" name="fecha_fin[]" required>
                                                    </td>
                                                    <td><textarea type="text" class="form-control" name="actividad[]" required></textarea></td>
                                                    <td><input type="number" min="0" class="form-control" name="horas[]" required></td>
                                                    <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-plan"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    // Evento para cuando cargas la página
    document.addEventListener('DOMContentLoaded', function() {
        limpiarControles();
    });

    // Evento para Cancelar
    document.getElementById('btnCancelar').addEventListener('click', function() {
        limpiarControles();
    });

    // Función para convertir archivos a Base64
    function convertirABase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.onload = () => resolve(reader.result.split(',')[1]);
            reader.onerror = error => reject(error);
            reader.readAsDataURL(file);
        });
    }

    // Función para formatear la fecha
    function formatFechaParaInput(fecha) {
        const date = new Date(fecha);
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate() + 1).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    // Función para formatear la fecha actual
    function formatFechaActual(fecha) {
        const date = new Date(fecha);
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }


    // Funcion para mostrar alerta
    function mostrarAlerta(tipo, titulo, mensaje) {
        Swal.fire({
            icon: tipo,
            title: titulo,
            html: mensaje,
            showConfirmButton: true,
            timer: 5000
        });
    }

    // Función para deshabilitar los tabs
    function disableTabs() {
        const tabs = document.querySelectorAll('.datos-tabs .nav-link');
        const tabContents = document.querySelectorAll('.datos-tabs .tab-pane');
        tabs.forEach(tab => {
            tab.classList.add('disabled');
            tab.setAttribute('aria-disabled', 'true');
            tab.removeAttribute('data-bs-toggle');
        });
        tabContents.forEach(content => {
            content.classList.add('disabled');
        });
    }

    // Función para habilitar los tabs
    function enableTabs() {
        const tabs = document.querySelectorAll('.datos-tabs .nav-link');
        const tabContents = document.querySelectorAll('.datos-tabs .tab-pane');
        tabs.forEach(tab => {
            tab.classList.remove('disabled');
            tab.removeAttribute('aria-disabled');
            tab.setAttribute('data-bs-toggle', 'tab');
        });
        tabContents.forEach(content => {
            content.classList.remove('disabled');
        });
    }

    function limpiarControles() {     
        const camposTexto = [
            'nombre', 'apellidos', 'escuelap', 'código', 'semestre', 
            'institución', 'nombre_responsable', 'apellido_responsable', 
            'cargo_responsable', 'fecha', 'fechaInicio', 'fechaFin', 
            'estudianteb', 'id', 'idInformeMod', 'idPersonaMod', 'firma1', 
            'firma2'
        ];
        camposTexto.forEach(id => {
            const campo = document.getElementById(id);
            if (campo) campo.value = '';
        });
        const camposHabilitables = ['estudianteb', 'dropdown-estudiantes', 'id', 'idPersonaMod'];
        camposHabilitables.forEach(id => {
            const campo = document.getElementById(id);
            if (campo) campo.disabled = false;
        });
        const firmaEstudiantePreview = document.getElementById('firma1-preview');
        if (firmaEstudiantePreview) {
            firmaEstudiantePreview.src = '#';
            firmaEstudiantePreview.style.display = 'none';
        }
        const firmaResponsablePreview = document.getElementById('firma2-preview');
        if (firmaResponsablePreview) {
            firmaResponsablePreview.src = '#';
            firmaResponsablePreview.style.display = 'none';
        }
        idPersona = '';
        firma1Base64Previo = null;
        firma2Base64Previo = null;
        const tablaObjetivos = document.getElementById('tabla-objetivos');
        if (tablaObjetivos) {
            const tbodyO = tablaObjetivos.querySelector('tbody');
            if (tbodyO) {
                tbodyO.innerHTML = `
                    <tr>
                        <td><input type="number" min="0" class="form-control" name="numero_objetivo[]" value=1 required readonly></td>
                        <td><textarea type="text" id="objetivo" class="form-control" name="objetivo[]" required></textarea></td>
                        <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-objetivo"></td>
                    </tr>
                `;
            }
        }
        const tablaPlan = document.getElementById('tabla-plan-trabajo');
        if (tablaPlan) {
            const tbodyP = tablaPlan.querySelector('tbody');
            if (tbodyP) {
                tbodyP.innerHTML = `
                    <tr>
                        <td><input type="text" min="0" class="form-control" name="semana[]" value=1 required readonly></td>
                        <td>
                            <input type="date" class="form-control" name="fecha_inicio[]" required>
                            <input type="date" class="form-control" name="fecha_fin[]" required>
                        </td>
                        <td><textarea type="text" class="form-control" name="actividad[]" required></textarea></td>
                        <td><input type="number" class="form-control" name="horas[]" required></td>
                        <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-plan"></td>
                    </tr>
                `;
            }
        }
        const estudianteTab = document.getElementById('estudiante-tab');
        if (estudianteTab) {
            const bootstrapTab = new bootstrap.Tab(estudianteTab);
            bootstrapTab.show();
        }
        const estadoIndicador = document.getElementById('estado-indicador');
        if (estadoIndicador) {
            estadoIndicador.textContent = '';
            estadoIndicador.classList.add('d-none');
            estadoIndicador.classList.remove('bg-success', 'bg-warning', 'bg-danger');
        }
        disableTabs();
    }

    // Función para cargar datos de la institución
    function obtenerDatosInstitucion(numDocInstitucion) {
        const institucionInput = document.getElementById('institucion');
        const nombreJefeInput = document.getElementById('nombre_responsable');
        const apellidoJefeInput = document.getElementById('apellido_responsable');
        const cargoJefeInput = document.getElementById('cargo_responsable');

        nombreJefeInput.value = '';
        apellidoJefeInput.value = '';
        cargoJefeInput.value = '';
        fetch(`/jefe_institucion?ruc=${numDocInstitucion}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al obtener datos de la institución');
                }
                return response.json();
            })
            .then(data => {
                if (data && data.length > 0) {
                    institucionInput.value = data[0].razonSocial || 'Razón social no disponible';
                    nombreJefeInput.value = data[0].nombre;
                    apellidoJefeInput.value = data[0].apellidos;
                    cargoJefeInput.value = data[0].cargo;
                } else {
                    institucionInput.value = 'Razón social no disponible';
                    nombreJefeInput.value = 'No se nombre de jefe';
                    apellidoJefeInput.value = 'No se apellido de jefe';
                    cargoJefeInput.value = 'No se encontró cargo';
                }
            })
            .catch(error => {
                console.error('Error al obtener los datos de la institución:', error);
                institucionInput.value = 'Razón social no disponible';    
                nombreJefeInput.value = 'No se nombre de jefe';
                apellidoJefeInput.value = 'No se apellido de jefe';
                cargoJefeInput.value = 'No se encontró cargo';
            });
    }

    // Función para cargar datos de la práctica
    function cargarDatosPractica(data) {
        document.getElementById('estudiante').value = `${data.apellidosEstudiante} ${data.nombreEstudiante}`;
        document.getElementById('idPersonaMod').value = data.idPersona || '';
        document.getElementById('fechaInicio').value = data.fechaInicio ? formatFechaParaInput(data.fechaInicio) : '';
        document.getElementById('fechaFin').value = data.fechaFin ? formatFechaParaInput(data.fechaFin) : '';
        if (data.numDocInstitucion) {
            obtenerDatosInstitucion(data.numDocInstitucion);
        }
    }

    // Función para cargar datos del estudiante
    function cargarDatosEstudiante(idEstudiante) {
        if (!idEstudiante) {
            console.error("ID de estudiante no proporcionado.");
            mostrarAlerta("warning", "Advertencia", "Por favor, seleccione un estudiante válido.");
            return;
        }
        fetch(`/obtener_estudiante_por_id/${idEstudiante}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al obtener datos del estudiante');
                }
                return response.json();
            })
            .then(data => {
                if (data && Object.keys(data).length > 0) {
                    document.getElementById('nombre').value = data.nombre || 'Sin nombre';
                    document.getElementById('apellidos').value = data.apellidos || 'Sin apellidos';
                    document.getElementById('codigo').value = data.codUniversitario || 'Sin código';
                } else {
                    mostrarAlerta("info", "Información", "No se encontraron datos para este estudiante.");
                }
            })
            .catch(error => {
                console.error("Error al buscar el estudiante:", error);
                mostrarAlerta("error", "Error", "Hubo un error al buscar el estudiante.");
            });
    }

    // Función para cargar el semestre
    function cargarUltimosSemestresActivos(elementoID) {
        fetch('/datos_ultimos_semestres_activos')
            .then(response => {
                if (!response.ok) {
                    throw new Error("Error en la respuesta del servidor");
                }
                return response.json();
            })
            .then(data => {
                const elemento = document.getElementById(elementoID);
                if (data.error) {
                    console.error(data.error);
                    elemento.value = "Error al cargar datos";
                    alert("Error: " + data.error);
                    return;
                }
                if (data.length > 0) {
                    elemento.value = data[0].nombre || "Semestre no definido";
                } else {
                    elemento.value = "No hay semestres activos";
                    alert("No hay ningún semestre activo disponible.");
                }
            })
            .catch(error => {
                console.error('Error al obtener los datos de semestres:', error);
                const elemento = document.getElementById(elementoID);
                elemento.value = "Error al cargar datos";
                alert("Hubo un error al cargar los semestres. Por favor, inténtelo nuevamente.");
            });
    }

    // Llama a la función cuando el documento esté listo
    document.addEventListener('DOMContentLoaded', function () {
        cargarUltimosSemestresActivos('semestre');
    });

    // Evento para desaparecer la lista de estudiantes
    document.addEventListener('click', function(event) {
        if (!inputEstudiante.contains(event.target) && !dropdownEstudiantes.contains(event.target)) {
            dropdownEstudiantes.classList.remove('show');
        }
    });

    // Variables globales para almacenar las firmas previas
    let firma1Base64Previo = null;
    let firma2Base64Previo = null;

    // Función para cargar datos del informe
    function cargarDatosInforme(informe) {
        if (!informe || informe.error) {
            mostrarAlerta("warning", "Advertencia", informe ? informe.error : "No se encontraron datos del informe.");
            return;
        }
        document.getElementById('idInformeMod').value = informe.idInforme || '';

        const firma1Preview = document.getElementById('firma1-preview');
        if (informe.firma1) {
            firma1Base64Previo = informe.firma1;
            firma1Preview.src = `data:image/png;base64,${informe.firma1}`;
            firma1Preview.style.display = 'block';
        } else {
            firma1Base64Previo = null;
            firma1Preview.src = '#';
            firma1Preview.style.display = 'none';
        }

        const firma2Preview = document.getElementById('firma2-preview');
        if (informe.firma2) {
            firma2Base64Previo = informe.firma2;
            firma2Preview.src = `data:image/png;base64,${informe.firma2}`;
            firma2Preview.style.display = 'block';
        } else {
            firma2Base64Previo = null;
            firma2Preview.src = '#';
            firma2Preview.style.display = 'none';
        }

        // Llenar la tabla de objetivos
        const objetivosTableBody = document.querySelector('#tabla-objetivos tbody');
        objetivosTableBody.innerHTML = '';
        if (informe.objetivos && informe.objetivos.length > 0) {
            informe.objetivos.forEach((objetivo, index) => {
                const row = `
                    <tr>
                        <td><input type="number" min="0" class="form-control" name="numero_objetivo[]" value="${index + 1}" required readonly></td>
                        <td><textarea type="text" class="form-control" name="objetivo[]" required>${objetivo.descripcion}</textarea></td>
                        <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-objetivo"></td>
                    </tr>
                `;
                objetivosTableBody.insertAdjacentHTML('beforeend', row);
            });
        } else {
            // Si no hay objetivos, mostrar una fila vacía
            const emptyRow = `
                <tr>
                    <td><input type="number" min="0" class="form-control" name="numero_objetivo[]" value="1" required readonly></td>
                    <td><textarea type="text" class="form-control" name="objetivo[]" required></textarea></td>
                    <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-objetivo"></td>
                </tr>
            `;
            objetivosTableBody.insertAdjacentHTML('beforeend', emptyRow);
        }

        // Llenar la tabla de planes de trabajo
        const planesTableBody = document.querySelector('#tabla-plan-trabajo tbody');
        planesTableBody.innerHTML = '';
        if (informe.actividades && informe.actividades.length > 0) {
            informe.actividades.forEach((plan, index) => {
                const row = `
                    <tr>
                        <td>
                            <input type="text" class="form-control text-center" name="semana[]" value="${plan.semana}" readonly>
                        </td>
                        <td>
                            <input type="date" class="form-control" name="fecha_inicio[]" value="${formatFechaParaInput(plan.fechaInicio)}" required>
                            <input type="date" class="form-control" name="fecha_fin[]" value="${formatFechaParaInput(plan.fechaFin)}" required>
                        </td>
                        <td>
                            <textarea class="form-control" name="actividad[]" required>${plan.actividades}</textarea>
                        </td>
                        <td>
                            <input type="number" class="form-control" name="horas[]" value="${plan.horas}" required>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" class="form-check-input seleccionar-plan">
                        </td>
                    </tr>
                `;
                planesTableBody.insertAdjacentHTML('beforeend', row);
            });
 
        } else {
            // Si no hay planes, mostrar una fila vacía
            const emptyRow = `
                <tr>
                    <td><input type="text" class="form-control text-center" name="semana[]" value="1" readonly></td>
                    <td>
                        <input type="date" class="form-control" name="fecha_inicio[]" required>
                        <input type="date" class="form-control" name="fecha_fin[]" required>
                    </td>
                    <td><textarea class="form-control" name="actividad[]" required></textarea></td>
                    <td><input type="number" class="form-control" name="horas[]" required></td>
                    <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-plan"></td>
                </tr>
            `;
            planesTableBody.insertAdjacentHTML('beforeend', emptyRow);
        }

    }

    // Función para mostrar el estado del informe
    function actualizarEstadoIndicador(estado) {
        const estadoIndicador = document.getElementById('estado-indicador');
        estadoIndicador.classList.remove('d-none', 'bg-success', 'bg-warning', 'bg-danger');

        if (estado === 3) {
            estadoIndicador.textContent = 'Aprobado';
            estadoIndicador.classList.add('bg-success');
        } else if (estado === 2) {
            estadoIndicador.textContent = 'Pendiente de aprobación';
            estadoIndicador.classList.add('bg-warning');
        } else if (estado === 1) {
            estadoIndicador.textContent = 'Rechazado';
            estadoIndicador.classList.add('bg-danger');
        } else {
            estadoIndicador.textContent = '';
            estadoIndicador.classList.add('d-none');
        }
    }

    // Evento para agregar nuevo objetivo
    $('#agregarObjetivo').on('click', function() {
        const tablaBody = $('#tabla-objetivos tbody');
        let nuevoNumero = 1;
        const numerosExistentes = tablaBody.find('input[name="numero_objetivo[]"]').map(function() {
            return parseInt($(this).val(), 10) || 0;
        }).get();
        if (numerosExistentes.length > 0) {
            nuevoNumero = Math.max(...numerosExistentes) + 1;
        }
        const nuevaFila = `<tr>
            <td><input type="number" min="0" class="form-control" name="numero_objetivo[]" value="${nuevoNumero}" required readonly></td>
            <td><textarea type="text" id="objetivo" class="form-control" name="objetivo[]" required></textarea></td>
            <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-objetivo"></td>
        </tr>`;
        tablaBody.append(nuevaFila);
    });

    // Evento para eliminar un objetivo
    $('#eliminarObjetivo').on('click', function() {
        $('.seleccionar-objetivo:checked').closest('tr').remove();
    });

    // Evento para agregar nueva actividad al plan de trabajo
    $('#agregarPlanTrabajo').on('click', function() {
        const tablaBody = $('#tabla-plan-trabajo tbody');
        let nuevoNumero = 1;
        const numerosExistentes = tablaBody.find('input[name="semana[]"]').map(function() {
            return parseInt($(this).val(), 10) || 0;
        }).get();

        if (numerosExistentes.length > 0) {
            nuevoNumero = Math.max(...numerosExistentes) + 1;
        }
        const nuevaFila = `<tr>
            <td><input type="text" min="0" class="form-control" name="semana[]" value="${nuevoNumero}" required readonly></td>
            <td>
                <input type="date" class="form-control" name="fecha_inicio[]" required>
                <input type="date" class="form-control" name="fecha_fin[]" required>
            </td>
            <td><textarea type="text" class="form-control" name="actividad[]" required></textarea></td>
            <td><input type="number" class="form-control" name="horas[]" required></td>
            <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-plan"></td>
        </tr>`;
        tablaBody.append(nuevaFila);
    });

    // Evento para eliminar una actividad del plan de trabajo
    $('#eliminarPlanTrabajo').on('click', function() {
        $('.seleccionar-plan:checked').closest('tr').remove();
    });

    // Evento para vista previa de la firma1
    document.getElementById('firma1').addEventListener('change', function (event) {
            const file = event.target.files[0];
            const preview = document.getElementById('firma1-preview');
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                };
                reader.readAsDataURL(file);
            } else {
                preview.src = '#';
                preview.style.display = 'none';
            }
        });

    // Evento para vista previa de la firma2
    document.getElementById('firma2').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const preview = document.getElementById('firma2-preview');
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            preview.src = '#';
            preview.style.display = 'none';
        }
    });

    // Función para mostrar y recuperar estudiantes en el dropdown-search
    const inputEstudiante = document.getElementById('estudianteb');
    const dropdownEstudiantes = document.getElementById('dropdown-estudiantes');
    let idPersona = 0;
    inputEstudiante.addEventListener('input', function() {
        const searchText = this.value.toLowerCase();
        fetch('/datos_estudiantes_buscar')
            .then(response => response.json())
            .then(data => {
                dropdownEstudiantes.innerHTML = '';
                const resultados = data.filter(estudiante => 
                    `${estudiante.apellidos} ${estudiante.nombre}`.toLowerCase().includes(searchText)
                );
                if (resultados.length > 0) {
                    resultados.forEach(estudiante => {
                        const li = document.createElement('li');
                        li.textContent = `${estudiante.apellidos} ${estudiante.nombre}`;
                        li.dataset.id = estudiante.idPersona;
                        li.addEventListener('click', () => {
                            inputEstudiante.value = li.textContent;
                            idPersona = li.dataset.id;
                            $('#idPersonaMod').val(response.idPersona);
                            dropdownEstudiantes.classList.remove('show');
                        });
                        dropdownEstudiantes.appendChild(li);
                    });
                    dropdownEstudiantes.classList.add('show');
                } else {
                    dropdownEstudiantes.classList.remove('show');
                }
            })
            .catch(error => console.error('Error:', error));
    });

    // Función para buscar por Estudiante
    document.getElementById('btnBuscarE').addEventListener('click', function (event) {
        event.preventDefault();
        const idEstudiante = idPersona;
        const fechaActualFormateada = formatFechaActual(new Date());
        const estadoIndicador = document.getElementById('estado-indicador');
        if (!idEstudiante) {
            mostrarAlerta("warning", "Advertencia", "Por favor, seleccione un estudiante válido para buscar.");
            return;
        }
        fetch(`/estado_informe_inicial/${idEstudiante}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al obtener el estado del informe inicial');
                }
                return response.json();
            })
            .then(estadoData => {
                const estado = estadoData.estado;
                estadoIndicador.classList.remove('d-none', 'bg-success', 'bg-warning', 'bg-danger');
                if (estado === 3) {
                    estadoIndicador.textContent = 'Aprobado';
                    estadoIndicador.classList.add('bg-success');
                    fetch(`/obtener_practica_por_estudiante/${idEstudiante}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error al obtener datos de la práctica del estudiante');
                            }
                            return response.json();
                        })
                        .then(practicaData => {
                            if (practicaData.idPractica) {
                                fetch(`/obtener_informe_inicial_estudiante/${idEstudiante}/${practicaData.idPractica}`)
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Error al cargar el informe inicial del estudiante');
                                        }
                                        return response.json();
                                    })
                                    .then(informeData => {
                                        cargarDatosInforme(informeData);
                                        const idInput = document.getElementById('id');
                                        if (idInput) {
                                            idInput.value = practicaData.idPractica || '';
                                            idInput.disabled = true;
                                        }
                                        cargarDatosPractica(practicaData);
                                        cargarDatosEstudiante(idEstudiante);
                                        cargarUltimosSemestresActivos('semestre');
                                        setFormularioSoloLectura(true, false);
                                        document.getElementById('estudianteb').disabled = true;
                                        document.getElementById('fecha').value = fechaActualFormateada;
                                    })
                                    .catch(error => {
                                        console.error("Error al cargar el informe inicial:", error);
                                        mostrarAlerta("error", "Error", "Hubo un error al cargar el informe inicial del estudiante.");
                                    });
                            } else {
                                mostrarAlerta("error", "Error", "No se encontró una práctica activa para el estudiante.");
                            }
                        })
                        .catch(error => {
                            console.error("Error al obtener la práctica del estudiante:", error);
                            mostrarAlerta("error", "Error", "Hubo un error al obtener la práctica del estudiante.");
                        });
                    return;
                } else if (estado === 2 || estado === 1) {
                    if (estado === 1) {
                        estadoIndicador.textContent = 'Rechazado';
                        estadoIndicador.classList.add('bg-danger');
                        mostrarAlerta("warning", "Advertencia", "El estudiante tiene un informe inicial rechazado.");
                    } else {
                        estadoIndicador.textContent = 'Pendiente de aprobación';
                        estadoIndicador.classList.add('bg-warning');
                    }
                    fetch(`/obtener_practica_por_estudiante/${idEstudiante}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error al obtener datos de la práctica del estudiante');
                            }
                            return response.json();
                        })
                        .then(practicaData => {
                            if (practicaData.idPractica) {
                                fetch(`/obtener_informe_inicial_estudiante/${idEstudiante}/${practicaData.idPractica}`)
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Error al cargar el informe inicial del estudiante');
                                        }
                                        return response.json();
                                    })
                                    .then(informeData => {
                                        cargarDatosInforme(informeData);
                                        const idInput = document.getElementById('id');
                                        if (idInput) {
                                            idInput.value = practicaData.idPractica || '';
                                            idInput.disabled = true;
                                        }
                                        cargarDatosPractica(practicaData);
                                        cargarDatosEstudiante(idEstudiante);
                                        cargarUltimosSemestresActivos('semestre');
                                        enableTabs();
                                        document.getElementById('estudianteb').disabled = true;
                                        document.getElementById('fecha').value = fechaActualFormateada;
                                    })
                                    .catch(error => {
                                        console.error("Error al cargar el informe inicial:", error);
                                        mostrarAlerta("error", "Error", "Hubo un error al cargar el informe inicial del estudiante.");
                                    });
                            } else {
                                mostrarAlerta("error", "Error", "No se encontró una práctica activa para el estudiante.");
                            }
                        })
                        .catch(error => {
                            console.error("Error al obtener la práctica del estudiante:", error);
                            mostrarAlerta("error", "Error", "Hubo un error al obtener la práctica del estudiante.");
                        });
                    return;
                } else {
                    estadoIndicador.textContent = '';
                    estadoIndicador.classList.add('d-none');
                }
                fetch(`/obtener_practica_por_estudiante/${idEstudiante}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error al obtener datos del estudiante');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.error) {
                            mostrarAlerta("error", "Error", data.error);
                            limpiarControles();
                        } else if (data.mensaje) {
                            mostrarAlerta("info", "Información", data.mensaje);
                            limpiarControles();
                        } else {
                            const idInput = document.getElementById('id');
                            if (idInput) {
                                idInput.value = data.idPractica || '';
                                idInput.disabled = true;
                            }
                            cargarDatosPractica(data);
                            cargarDatosEstudiante(idEstudiante);
                            cargarUltimosSemestresActivos('semestre');
                            enableTabs();
                            document.getElementById('estudianteb').disabled = true;
                            document.getElementById('fecha').value = fechaActualFormateada;
                        }
                    })
                    .catch(error => {
                        console.error("Error al buscar la práctica del estudiante:", error);
                        mostrarAlerta("error", "Error", "Hubo un error al buscar la práctica del estudiante.");
                    });
            })
            .catch(error => {
                console.error("Error al obtener el estado del informe inicial:", error);
                mostrarAlerta("error", "Error", "Hubo un error al verificar el estado del informe inicial.");
            });
    });

    // Función para habilitar/deshabilitar controles
    function setFormularioSoloLectura(soloLectura) {
        enableTabs();
        const inputs = document.querySelectorAll('.tab-content input, .tab-content textarea, .tab-content select, .tab-content button:not(.nav-link)');
        inputs.forEach(input => {
            if (soloLectura) {
                input.setAttribute('disabled', 'true');
            } else {
                input.removeAttribute('disabled');
            }
        });
        const guardarBtn = document.getElementById('btnGuardar');
        const cancelarBtn = document.getElementById('btnCancelar');
        if (guardarBtn) {
            guardarBtn.style.display = soloLectura ? 'none' : '';
        }
        if (cancelarBtn) {
            cancelarBtn.style.display = '';
        }
    }

    // Función para guardar el informe
    document.getElementById('btnGuardar').addEventListener('click', async function (event) {
        event.preventDefault();
        const idPractica = document.getElementById('id').value;
        const idInforme = document.getElementById('idInformeMod').value;
        const fecha = document.getElementById('fecha').value;

        const firma1Input = document.getElementById('firma1');
        const firma2Input = document.getElementById('firma2');
        const firma1Base64 = firma1Input.files[0]
            ? await convertirABase64(firma1Input.files[0])
            : firma1Base64Previo;
        const firma2Base64 = firma2Input.files[0]
            ? await convertirABase64(firma2Input.files[0])
            : firma2Base64Previo;

        // Capturar objetivos
        const objetivos = Array.from(document.querySelectorAll('#tabla-objetivos textarea[name="objetivo[]"]'))
            .map((textarea) => textarea.value.trim())
            .filter((value) => value !== '');

        // Capturar plan de trabajo
        const plan_trabajos = Array.from(document.querySelectorAll('#tabla-plan-trabajo tbody tr')).map((row) => {
            const semana = row.querySelector('input[name="semana[]"]').value;
            const fechaInicio = row.querySelector('input[name="fecha_inicio[]"]').value;
            const fechaFin = row.querySelector('input[name="fecha_fin[]"]').value;
            const actividades = row.querySelector('textarea[name="actividad[]"]').value.trim();
            const horas = row.querySelector('input[name="horas[]"]').value;

            // Validar que no falten campos
            if (!semana || !fechaInicio || !fechaFin || !actividades || !horas) {
                return null;
            }

            return {
                semana: parseInt(semana),
                fechaInicio,
                fechaFin,
                actividades,
                horas: parseFloat(horas),
            };
        }).filter((item) => item !== null); // Filtrar filas incompletas

        // Validar campos obligatorios
        if (!idPractica || !fecha || !firma1Base64 || !firma2Base64 || objetivos.length === 0 || plan_trabajos.length === 0) {
            mostrarAlerta("warning", "Advertencia", "Por favor, complete todos los campos requeridos.");
            return;
        }

        // Preparar datos para enviar
        const data = {
            idInforme,
            idPractica,
            fecha,
            objetivos,
            plan_trabajos,
            firma1: firma1Base64,
            firma2: firma2Base64,
        };

        console.log(objetivos, plan_trabajos);

        // Enviar solicitud al servidor
        fetch('/agregar_informe_inicial_estudiante', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((data) => {
                if (data.error) {
                    mostrarAlerta("error", "Error", data.error);
                } else {
                    mostrarAlerta("success", "Éxito", data.mensaje);
                    limpiarControles();
                }
            })
            .catch((error) => {
                console.error('Error al guardar el informe:', error);
                mostrarAlerta("error", "Error", "Hubo un error al guardar el informe.");
            });
    });

</script>


{% endblock %}
