{% extends "/ppp/home.html" %}
{% block titulo %} Informe Final de Prácticas (Estudiante) {% endblock %}
{% block contenido %}
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.index') }}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.practicas_pre_profesionales') }}">Módulo de Prácticas Pre Profesionales</a></li>
        <li class="breadcrumb-item active">Informe de Prácticas (Estudiante)</li>
    </ol>
</nav>
<style>
    body {
        overflow: hidden;
    }
    fieldset {
        margin-bottom: 20px;
        padding-bottom: 15px;
    }
    .form-label {
        margin-bottom: 5px;
    }
    td > textarea {
        padding: 0;
    }

    td {
        padding: 0 !important;
    }
    .badge {
        font-size: 0.9rem;
        padding: 10px 20px;
        border-radius: 8px;
    }
</style>

<div class="container-fluid my-4 scrollable">
    <div class="card w-100">
        <div class="card-header bg-red-usat text-white">
            Informe Final de Prácticas Pre Profesionales (Estudiante)
        </div>
        <div class="card-body">
            <fieldset>   
                <div class="row align-items-end">      
                    <div class="col-4">
                        <label for="estudiante" class="form-label">Estudiante:</label>
                        <div class="d-flex align-items-end">
                            <div class="flex-grow-1 me-2">
                                <div class="custom-combo">
                                    <input type="text" id="estudiante" class="form-control" placeholder="Seleccionar estudiante" autocomplete="off">
                                    <ul id="dropdown-estudiantes" class="dropdown-menu"></ul>
                                </div>
                            </div>
                            <button id="btnBuscarE" type="submit" class="btn btn-secondary">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-4 offset-4 d-flex justify-content-end align-items-center">
                        <span id="estado-indicador" class="badge d-none me-3"></span>
                        <button id="btnCancelar" type="button" class="btn btn-danger me-2">Cancelar</button>
                        <button id="btnGuardar" type="submit" class="btn btn-primary">Guardar Informe</button>     
                    </div> 
                    <input type="hidden" class="form-control me-2" id="id" name="id" required>                 
                    <input type="hidden" id="idPersonaMod" name="idPersonaMod">
                    <input type="hidden" id="idInformeMod" name="idInformeMod">                                                                                                
                </div>   
            </fieldset>
            
            
            <div class="informe-tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="introduccion-tab" data-bs-toggle="tab" data-bs-target="#introduccion" type="button" role="tab" aria-controls="introduccion" aria-selected="true">Introducción</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="descripcion-institucion-tab" data-bs-toggle="tab" data-bs-target="#descripcion-institucion" type="button" role="tab" aria-controls="descripcion-institucion" aria-selected="false">Descripción de la institución</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="labores-tab" data-bs-toggle="tab" data-bs-target="#labores" type="button" role="tab" aria-controls="labores" aria-selected="false">Labores desarrolladas</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="conclusiones-tab" data-bs-toggle="tab" data-bs-target="#conclusiones" type="button" role="tab" aria-controls="conclusiones" aria-selected="false">Conclusiones y Recomendaciones</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="bibliografia-tab" data-bs-toggle="tab" data-bs-target="#bibliografia" type="button" role="tab" aria-controls="bibliografia" aria-selected="false">Bibliografía y Anexos</button>
                    </li>
                    <li class="nav-item" role="firmas">
                        <button class="nav-link" id="firmas-tab" data-bs-toggle="tab" data-bs-target="#firmas" type="button" role="tab" aria-controls="biblifirmasografia" aria-selected="false">Firmas</button>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Introducción -->
                    <div class="tab-pane fade show active" id="introduccion" role="tabpanel" aria-labelledby="introduccion-tab">
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="nombre_estudiante" class="form-label">Nombres del Estudiante:</label>
                                <input type="text" class="form-control" id="nombre_estudiante" name="nombre_estudiante" required readonly>
                            </div>
                            <div class="col-md-3">
                                <label for="apellido_estudiante" class="form-label">Apellidos del Estudiante:</label>
                                <input type="text" class="form-control" id="apellido_estudiante" name="apellido_estudiante" required readonly>
                            </div>
                            <div class="col-md-3">
                                <label for="escuelap" class="form-label">Escuela:</label>
                                <input type="text" class="form-control" id="escuelap" name="escuelap" required readonly>
                            </div>
                            <div class="col-md-3">
                                <label for="fecha_entrega" class="form-label">Fecha de Entrega del Informe:</label>
                                <input type="date" class="form-control" id="fecha_entrega" name="fecha_entrega" required readonly>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="intro" class="form-label">Introducción:</label>
                            <textarea class="form-control" id="intro" name="intro" rows="4" required></textarea>
                        </div>
                    </div>

                    <!-- Descripción de la Institución -->
                    <div class="tab-pane fade" id="descripcion-institucion" role="tabpanel" aria-labelledby="descripcion-institucion-tab">
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="razon_social" class="form-label">Razón Social:</label>
                                <input type="text" class="form-control" id="razon_social" name="razon_social" required readonly>
                            </div>
                            <div class="col-md-3">
                                <label for="direccion" class="form-label">Dirección:</label>
                                <input type="text" class="form-control" id="direccion" name="direccion" required readonly>
                            </div>
                            <div class="col-md-2">
                                <label for="giro_institucion" class="form-label">Giro:</label>
                                <input type="text" class="form-control" id="giro_institucion" name="giro_institucion" required readonly>
                            </div>
                            <div class="col-md-3">
                                <label for="jefe" class="form-label">Representante Legal:</label>
                                <input type="text" class="form-control" id="jefe" name="jefe" required readonly>
                            </div>
                            <div class="col-md-1">
                                <label for="cantidad_trabajadores" class="form-label">Trabajadores:</label>
                                <input type="number" class="form-control" id="cantidad_trabajadores" name="cantidad_trabajadores" required>
                            </div>
                        </div>
                        <div class="row mb-3">      
                            <div class="col-md-6">
                                <label for="mision" class="form-label">Misión:</label>
                                <textarea class="form-control" id="mision" name="mision" rows="3" required></textarea>
                            </div>
                            <div class="col-md-6">
                                <label for="vision" class="form-label">Visión:</label>
                                <textarea class="form-control" id="vision" name="vision" rows="3" required></textarea>
                            </div>
                            
                        </div>
                        <div class="mb-3">
                            <label for="infraestructura_fisica" class="form-label">Infraestructura Física:</label>
                            <textarea class="form-control" id="infraestructura_fisica" name="infraestructura_fisica" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="infraestructura_tecnologica" class="form-label">Infraestructura Tecnológica:</label>
                            <textarea class="form-control" id="infraestructura_tecnologica" name="infraestructura_tecnologica" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="organigrama" class="form-label">Organigrama:</label>
                            <input type="file" class="form-control" id="organigrama" name="organigrama" accept="image/*" required>
                            <div class="mt-2">
                                <img id="organigrama-preview" src="#" alt="Vista previa del organigrama" style="display: none; max-width: 100%; height: auto; border: 1px solid #ccc; padding: 5px;" />
                            </div>
                        </div>
                    </div>

                    <!-- Labores Desarrolladas por el Estudiante -->
                    <div class="tab-pane fade" id="labores" role="tabpanel" aria-labelledby="labores-tab">
                        <div class="mb-3">
                            <label for="area_trabajo" class="form-label">Descripción del área de trabajo y relaciones laborales:</label>
                            <textarea class="form-control" id="area_trabajo" name="area_trabajo" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="labores_realizadas" class="form-label">Descripción de las labores realizadas:</label>
                            <textarea class="form-control" id="labores_realizadas" name="labores_realizadas" rows="3" required></textarea>
                        </div>
                    </div>

                    <!-- Conclusiones y Recomendaciones -->
                    <div class="tab-pane fade" id="conclusiones" role="tabpanel" aria-labelledby="conclusiones-tab">
                        <div class="row">
                            <!-- Fieldset para Conclusiones -->
                            <div class="col-md-6">
                                <div class="d-flex align-items-center mb-2">
                                    <label for="tabla-conclusion" class="form-label" style="margin-top: 0px; margin-bottom: 0px; margin-right: 15px;">Conclusiones:</label>
                                    <button type="button" class="btn btn-primary btn-sm" id="btnAgregarC"><i class="fas fa-plus"></i> Agregar</button>
                                    <button type="button" class="btn btn-danger btn-sm ms-2" id="btnBorrarC"><i class="fas fa-trash-alt"></i> Eliminar</button>
                                </div>                        
                                <table class="table table-bordered" id="tabla-conclusion">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;">N°</th>
                                            <th>Conclusión</th>
                                            <th style="width: 10%;">Select</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="number" min="0" class="form-control text-center" name="numC[]" value=1 readonly></td>
                                            <td><textarea type="text" id="conclusion" class="form-control" name="conclusion[]" required></textarea>
                                            <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-conclusion"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    
                            <!-- Fieldset para Recomendaciones -->
                            <div class="col-md-6">
                                <div class="d-flex align-items-center mb-2">
                                    <label for="tabla-recomendacion" class="form-label" style="margin-top: 0px; margin-bottom: 0px; margin-right: 15px;">Recomendaciones:</label>
                                    <button type="button" class="btn btn-primary btn-sm" id="btnAgregarR"><i class="fas fa-plus"></i> Agregar</button>
                                    <button type="button" class="btn btn-danger btn-sm ms-2" id="btnBorrarR"><i class="fas fa-trash-alt"></i> Eliminar</button>
                                </div>                        
                                <table class="table table-bordered" id="tabla-recomendacion">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;">N°</th>
                                            <th>Recomendación</th>
                                            <th style="width: 10%;">Select</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="number" min="0" class="form-control text-center" name="numR[]" value=1 required readonly></td>
                                            <td><textarea type="text" id="conclusion" class="form-control" name="recomendacion[]" required></textarea>
                                            <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-recomendacion"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Bibliografía -->
                    <div class="tab-pane fade" id="bibliografia" role="tabpanel" aria-labelledby="bibliografia-tab">
                            <div class="mb-3">
                                <label for="bibliografiai" class="form-label">Bibliografía (Estilo IEEE):</label>
                                <textarea class="form-control" id="bibliografiai" name="bibliografiai" rows="8" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="anexos" class="form-label">Anexos:</label>
                                <input type="file" class="form-control" id="anexos" name="anexos" accept="application/pdf" required>
                                <div class="mt-2" id="anexos-preview-container" style="display: none;">
                                    <iframe id="anexos-preview" style="width: 100%; height: 400px; border: 1px solid #ccc;"></iframe>
                                </div>
                            </div>  
                    </div>

                    <!-- Firmas -->
                    <div class="tab-pane fade" id="firmas" role="tabpanel" aria-labelledby="labores-tab">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="firma1" class="form-label">Firma del Estudiante:</label>
                                <input type="file" class="form-control" id="firma1" name="firma1" accept="image/*" required>
                                <div class="mt-2">
                                    <img id="firma1-preview" src="#" alt="Vista previa de la firma 1" style="display: none; max-width: 100%; height: auto; border: 1px solid #ccc; padding: 5px;" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="firma2" class="form-label">Firma del Responsable:</label>
                                <input type="file" class="form-control" id="firma2" name="firma2" accept="image/*" required>
                                <div class="mt-2">
                                    <img id="firma2-preview" src="#" alt="Vista previa de la firma 2" style="display: none; max-width: 100%; height: auto; border: 1px solid #ccc; padding: 5px;" />
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>


<script>
    // Evento para cuando cargas la página
    document.addEventListener('DOMContentLoaded', function() {
        limpiarControles();
    });
    
    // Evento para Cancelar
    document.getElementById('btnCancelar').addEventListener('click', function() {
        limpiarControles();
    });

    // Función para convertir un archivo a Base64
    function convertirABase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.onload = () => resolve(reader.result.split(',')[1]); // Solo la parte Base64
            reader.onerror = error => reject(error);
            reader.readAsDataURL(file);
        });
    }

    // Función para formatear la fecha
    function formatFechaParaInput(fecha) {
        const date = new Date(fecha);
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate() + 1).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }
        
    // Funcion para mostrar alerta
    function mostrarAlerta(tipo, titulo, mensaje) {
            Swal.fire({
                icon: tipo,
                title: titulo,
                html: mensaje,
                showConfirmButton: true,
                timer: 5000
            });
        }

    // Función para deshabilitar los tabs
    function disableTabs() {
        const tabs = document.querySelectorAll('.informe-tabs .nav-link');
        const tabContents = document.querySelectorAll('.informe-tabs .tab-pane');
        tabs.forEach(tab => {
            tab.classList.add('disabled');
            tab.setAttribute('aria-disabled', 'true');
            tab.setAttribute('tabindex', '-1');
        });
        tabContents.forEach(content => {
            content.classList.add('disabled');
        });
    }

    // Función para habilitar los tabs
    function enableTabs() {
        const tabs = document.querySelectorAll('.informe-tabs .nav-link');
        const tabContents = document.querySelectorAll('.informe-tabs .tab-pane');
        tabs.forEach(tab => {
            tab.classList.remove('disabled');
            tab.removeAttribute('aria-disabled');
            tab.removeAttribute('tabindex');
        });
        tabContents.forEach(content => {
            content.classList.remove('disabled');
        });
    }

    function limpiarControles() {     
        document.getElementById('nombre_estudiante').value = '';
        document.getElementById('apellido_estudiante').value = '';
        document.getElementById('escuelap').value = '';
        document.getElementById('fecha_entrega').value = '';
        document.getElementById('intro').value = '';
        document.getElementById('razon_social').value = '';
        document.getElementById('direccion').value = '';
        document.getElementById('giro_institucion').value = '';
        document.getElementById('jefe').value = '';
        document.getElementById('cantidad_trabajadores').value = '';
        document.getElementById('mision').value = '';
        document.getElementById('vision').value = '';
        document.getElementById('infraestructura_fisica').value = '';
        document.getElementById('infraestructura_tecnologica').value = '';
        document.getElementById('organigrama').value = '';
        const organigramaPreview = document.getElementById('organigrama-preview');
        if (organigramaPreview) {
            organigramaPreview.src = '#';
            organigramaPreview.style.display = 'none';
        }
        document.getElementById('estudiante').value = '';
        document.getElementById('estudiante').disabled = false;
        document.getElementById('dropdown-estudiantes').disabled = false;
        document.getElementById('id').value = '';
        document.getElementById('id').disabled = false;
        document.getElementById('idInformeMod').value = '';
        document.getElementById('idPersonaMod').value = '';
        document.getElementById('idPersonaMod').disabled = false;
        document.getElementById('area_trabajo').value = '';
        document.getElementById('labores_realizadas').value = '';
        document.getElementById('bibliografiai').value = '';
        document.getElementById('anexos').value = '';
        const anexosPreviewContainer = document.getElementById('anexos-preview-container');
        const anexosPreview = document.getElementById('anexos-preview');
        if (anexosPreviewContainer && anexosPreview) {
            anexosPreview.src = '';
            anexosPreviewContainer.style.display = 'none';
        }
        document.getElementById('firma1').value = '';
        const firma1Preview = document.getElementById('firma1-preview');
        if (firma1Preview) {
            firma1Preview.src = '#';
            firma1Preview.style.display = 'none';
        }
        document.getElementById('firma2').value = '';
        const firma2Preview = document.getElementById('firma2-preview');
        if (firma2Preview) {
            firma2Preview.src = '#';
            firma2Preview.style.display = 'none';
        }
        idPersona = '';
        organigramaBase64Previo = null;
        anexosBase64Previo = null;
        firma1Base64Previo = null;
        firma2Base64Previo = null;
        const tablaConclusion = document.getElementById('tabla-conclusion');
        const tbodyC = tablaConclusion.querySelector('tbody');
        tbodyC.innerHTML = '';
        const filaVaciaC = `
            <tr>
                <td><input type="number" min="0" class="form-control text-center" name="numC[]" value=1 required readonly></td>
                <td><textarea type="text" id="conclusion" class="form-control" name="conclusion[]" required></textarea>
                <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-conclusion"></td>
            </tr>
        `;
        tbodyC.innerHTML = filaVaciaC;
        const tablaRecnomendacion = document.getElementById('tabla-recomendacion');
        const tbodyR = tablaRecnomendacion.querySelector('tbody');
        tbodyR.innerHTML = '';
        const filaVaciaR = `
            <tr>
                <td><input type="number" min="0" class="form-control text-center" name="numR[]" value=1 required readonly></td>
                <td><textarea type="text" id="recomendacion" class="form-control" name="recomendacion[]" required></textarea>
                <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-recomendacion"></td>
            </tr>
        `;
        tbodyR.innerHTML = filaVaciaR;
        const introduccionTab = document.getElementById('introduccion-tab');
        const bootstrapTab = new bootstrap.Tab(introduccionTab);
        bootstrapTab.show();
        const estadoIndicador = document.getElementById('estado-indicador');
        if (estadoIndicador) {
            estadoIndicador.textContent = '';
            estadoIndicador.classList.add('d-none');
            estadoIndicador.classList.remove('bg-success', 'bg-warning', 'bg-danger');
        }
        disableTabs();
    }
    
    // Función para cargar datos de la institución
    function obtenerDatosInstitucion(numDocInstitucion) {
        const razonSocialInput = document.getElementById('razon_social');
        const jefeInput = document.getElementById('jefe');
        const giroInput = document.getElementById('giro_institucion');
        const direccionInput = document.getElementById('direccion');
        jefeInput.value = '';
        giroInput.value = '';
        fetch(`/jefe_institucion?ruc=${numDocInstitucion}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al obtener datos de la institución');
                }
                return response.json();
            })
            .then(data => {
                if (data && data.length > 0) {
                    razonSocialInput.value = data[0].razonSocial || 'Razón social no disponible';
                    jefeInput.value = `${data[0].apellidos} ${data[0].nombre}` || 'Jefe no disponible';
                    giroInput.value = data[0].giro || 'Giro no disponible';
                    direccionInput.value = data[0].direccion || 'Direccion no disponible';   
                } else {
                    razonSocialInput.value = 'Razón social no disponible';
                    jefeInput.value = 'No se encontró jefe.';
                    giroInput.value = 'Giro no disponible';
                    direccionInput.value = 'Direccion no disponible';
                }
            })
            .catch(error => {
                console.error('Error al obtener los datos de la institución:', error);
                razonSocialInput.value = 'Razón social no disponible';
                jefeInput.value = 'No se encontró jefe.';
                giroInput.value = 'Giro no disponible';
                direccionInput.value = 'Direccion no disponible';
            });
    }

    // Función para cargar datos de la práctica
    function cargarDatosPractica(data) {
        document.getElementById('estudiante').value = `${data.apellidosEstudiante} ${data.nombreEstudiante}`;
        document.getElementById('idPersonaMod').value = data.idPersona || '';
        if (data.numDocInstitucion) {
            obtenerDatosInstitucion(data.numDocInstitucion);
        }
    }

    // Función para cargar datos del estudiante
    function cargarDatosEstudiante(idEstudiante) {
        if (!idEstudiante) {
            console.error("ID de estudiante no proporcionado.");
            mostrarAlerta("warning", "Advertencia", "Por favor, seleccione un estudiante válido.");
            return;
        }
        fetch(`/obtener_estudiante_por_id/${idEstudiante}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al obtener datos del estudiante');
                }
                return response.json();
            })
            .then(data => {
                if (data && Object.keys(data).length > 0) {
                    document.getElementById('nombre_estudiante').value = data.nombre || 'Sin nombre';
                    document.getElementById('apellido_estudiante').value = data.apellidos || 'Sin apellidos';
                    document.getElementById('escuelap').value = data.escuela || 'Sin escuela';
                } else {
                    mostrarAlerta("info", "Información", "No se encontraron datos para este estudiante.");
                }
            })
            .catch(error => {
                console.error("Error al buscar el estudiante:", error);
                mostrarAlerta("error", "Error", "Hubo un error al buscar el estudiante.");
            });
    }

    // Variables globales para almacenar los archivos previos
    let organigramaBase64Previo = null;
    let anexosBase64Previo = null;
    let firma1Base64Previo = null;
    let firma2Base64Previo = null;

    // Función para cargar datos del informe
    function cargarDatosInforme(informe) {
        if (!informe || informe.error) {
            mostrarAlerta("warning", "Advertencia", informe ? informe.error : "No se encontraron datos del informe.");
            return;
        }
        document.getElementById('idInformeMod').value = informe.idInforme || '';
        document.getElementById('fecha_entrega').value = informe.fecha || '';
        document.getElementById('intro').value = informe.introduccion || '';
        document.getElementById('cantidad_trabajadores').value = informe.trabajadores || '';
        document.getElementById('mision').value = informe.mision || '';
        document.getElementById('vision').value = informe.vision || '';
        document.getElementById('infraestructura_fisica').value = informe.infFisica || '';
        document.getElementById('infraestructura_tecnologica').value = informe.infTecnologica || '';
        document.getElementById('area_trabajo').value = informe.area || '';
        document.getElementById('labores_realizadas').value = informe.labores || '';
        document.getElementById('bibliografiai').value = informe.bibliografia || '';
        const organigramaPreview = document.getElementById('organigrama-preview');
        if (informe.organigrama) {
            organigramaBase64Previo = informe.organigrama;
            organigramaPreview.src = `data:image/png;base64,${informe.organigrama}`;
            organigramaPreview.style.display = 'block';
        } else {
            organigramaBase64Previo = null;
            organigramaPreview.src = '#';
            organigramaPreview.style.display = 'none';
        }
        const anexosPreviewContainer = document.getElementById('anexos-preview-container');
        const anexosPreview = document.getElementById('anexos-preview');
        if (informe.anexos) {
            anexosBase64Previo = informe.anexos;
            anexosPreview.src = `data:application/pdf;base64,${informe.anexos}`;
            anexosPreviewContainer.style.display = 'block';
        } else {
            anexosBase64Previo = null;
            anexosPreview.src = '';
            anexosPreviewContainer.style.display = 'none';
        }
        const firma1Preview = document.getElementById('firma1-preview');
        if (informe.firma1) {
            firma1Base64Previo = informe.firma1;
            firma1Preview.src = `data:image/png;base64,${informe.firma1}`;
            firma1Preview.style.display = 'block';
        } else {
            firma1Base64Previo = null;
            firma1Preview.src = '#';
            firma1Preview.style.display = 'none';
        }
        const firma2Preview = document.getElementById('firma2-preview');
        if (informe.firma2) {
            firma2Base64Previo = informe.firma2;
            firma2Preview.src = `data:image/png;base64,${informe.firma2}`;
            firma2Preview.style.display = 'block';
        } else {
            firma2Base64Previo = null;
            firma2Preview.src = '#';
            firma2Preview.style.display = 'none';
        }
        const conclusionesTableBody = document.querySelector('#tabla-conclusion tbody');
        conclusionesTableBody.innerHTML = '';
        if (informe.conclusiones && informe.conclusiones.length > 0) {
            informe.conclusiones.forEach((conclusion, index) => {
                const row = `
                    <tr>
                        <td><input type="number" class="form-control text-center" name="numC[]" value="${index + 1}" readonly></td>
                        <td><textarea class="form-control" name="conclusion[]" required>${conclusion}</textarea></td>
                        <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-conclusion"></td>
                    </tr>
                `;
                conclusionesTableBody.insertAdjacentHTML('beforeend', row);
            });
        }
        const recomendacionesTableBody = document.querySelector('#tabla-recomendacion tbody');
        recomendacionesTableBody.innerHTML = '';
        if (informe.recomendaciones && informe.recomendaciones.length > 0) {
            informe.recomendaciones.forEach((recomendacion, index) => {
                const row = `
                    <tr>
                        <td><input type="number" class="form-control text-center" name="numR[]" value="${index + 1}" readonly></td>
                        <td><textarea class="form-control" name="recomendacion[]" required>${recomendacion}</textarea></td>
                        <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-recomendacion"></td>
                    </tr>
                `;
                recomendacionesTableBody.insertAdjacentHTML('beforeend', row);
            });
        }
    }

    // Función para mostrar el estado del informe
    function actualizarEstadoIndicador(estado) {
        const estadoIndicador = document.getElementById('estado-indicador');
        estadoIndicador.classList.remove('d-none', 'bg-success', 'bg-warning', 'bg-danger');

        if (estado === 3) {
            estadoIndicador.textContent = 'Aprobado';
            estadoIndicador.classList.add('bg-success');
        } else if (estado === 2) {
            estadoIndicador.textContent = 'Pendiente de aprobación';
            estadoIndicador.classList.add('bg-warning');
        } else if (estado === 1) {
            estadoIndicador.textContent = 'Rechazado';
            estadoIndicador.classList.add('bg-danger');
        } else {
            estadoIndicador.textContent = '';
            estadoIndicador.classList.add('d-none');
        }
    }

    // Evento para agregar nueva conclusión
    $('#btnAgregarC').on('click', function() {
        const tablaBody = $('#tabla-conclusion tbody');
        let nuevoNumero = 1;
        const numerosExistentes = tablaBody.find('input[name="numC[]"]').map(function() {
            return parseInt($(this).val(), 10) || 0;
        }).get();

        if (numerosExistentes.length > 0) {
            nuevoNumero = Math.max(...numerosExistentes) + 1;
        }
        const nuevaFila = `<tr>
            <td><input type="number" min="0" class="form-control text-center" name="numC[]" value="${nuevoNumero}" required readonly></td>
            <td><textarea type="text" id="conclusion" class="form-control" name="conclusion[]" required></textarea>
            <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-conclusion"></td>
        </tr>`;
        tablaBody.append(nuevaFila);
    });

    // Evento para eliminar una conclusión
    $('#btnBorrarC').on('click', function() {
        $('.seleccionar-conclusion:checked').closest('tr').remove();
    });

    // Evento para agregar nueva recomendación
    $('#btnAgregarR').on('click', function() {
        const tablaBody = $('#tabla-recomendacion tbody');
        let nuevoNumero = 1;
        const numerosExistentes = tablaBody.find('input[name="numR[]"]').map(function() {
            return parseInt($(this).val(), 10) || 0;
        }).get();

        if (numerosExistentes.length > 0) {
            nuevoNumero = Math.max(...numerosExistentes) + 1;
        }
        const nuevaFila = `<tr>
            <td><input type="number" min="0" class="form-control text-center" name="numR[]" value="${nuevoNumero}" required readonly></td>
            <td><textarea type="text" id="recomendacion" class="form-control" name="recomendacion[]" required></textarea>
            <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-recomendacion"></td>
        </tr>`;
        tablaBody.append(nuevaFila);
    });

    // Evento para eliminar una recomendación
    $('#btnBorrarR').on('click', function() {
        $('.seleccionar-recomendacion:checked').closest('tr').remove();
    });

    // Evento para vista previa del organigrama
    document.getElementById('organigrama').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const preview = document.getElementById('organigrama-preview');
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            preview.src = '#';
            preview.style.display = 'none';
        }
    });

    // Evento para vista previa de los anexos
    document.getElementById('anexos').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const previewContainer = document.getElementById('anexos-preview-container');
        const preview = document.getElementById('anexos-preview');
        if (file && file.type === 'application/pdf') {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                previewContainer.style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            preview.src = '';
            previewContainer.style.display = 'none';
        }
    });

    // Evento para vista previa de la firma 1
    document.getElementById('firma1').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const preview = document.getElementById('firma1-preview');
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            preview.src = '#';
            preview.style.display = 'none';
        }
    });

    // Evento para vista previa de la firma 2
    document.getElementById('firma2').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const preview = document.getElementById('firma2-preview');
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            preview.src = '#';
            preview.style.display = 'none';
        }
    });

    // Función para mostrar y recuperar estudiantes en el dropdown-search
    const inputEstudiante = document.getElementById('estudiante');
    const dropdownEstudiantes = document.getElementById('dropdown-estudiantes');
    let idPersona = 0;
    inputEstudiante.addEventListener('input', function () {
        const searchText = this.value.toLowerCase();
        fetch('/datos_estudiantes_buscar')
            .then(response => response.json())
            .then(data => {
                dropdownEstudiantes.innerHTML = '';
                const resultados = data.filter(estudiante => 
                    `${estudiante.apellidos} ${estudiante.nombre}`.toLowerCase().includes(searchText)
                );
                if (resultados.length > 0) {
                    resultados.forEach(estudiante => {
                        const li = document.createElement('li');
                        li.textContent = `${estudiante.apellidos} ${estudiante.nombre}`;
                        li.dataset.id = estudiante.idPersona;
                        li.addEventListener('click', () => {
                            inputEstudiante.value = li.textContent;
                            idPersona = estudiante.idPersona;
                            document.getElementById('idPersonaMod').value = estudiante.idPersona;
                            dropdownEstudiantes.classList.remove('show');
                        });
                        dropdownEstudiantes.appendChild(li);
                    });
                    dropdownEstudiantes.classList.add('show');
                } else {
                    dropdownEstudiantes.classList.remove('show');
                }
            })
            .catch(error => console.error('Error al cargar los estudiantes:', error));
    });

    // Función para buscar por Estudiante
    document.getElementById('btnBuscarE').addEventListener('click', function (event) {
        event.preventDefault();
        const idEstudiante = idPersona;
        const fechaActualFormateada = formatFechaParaInput(new Date());
        const estadoIndicador = document.getElementById('estado-indicador');
        if (!idEstudiante) {
            mostrarAlerta("warning", "Advertencia", "Por favor, seleccione un estudiante válido para buscar.");
            return;
        }
        fetch(`/estado_informe_final/${idEstudiante}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al obtener el estado del informe final');
                }
                return response.json();
            })
            .then(estadoData => {
                const estado = estadoData.estado;
                estadoIndicador.classList.remove('d-none', 'bg-success', 'bg-warning', 'bg-danger');

                if (estado === 3) { // Estado aprobado
                    estadoIndicador.textContent = 'Aprobado';
                    estadoIndicador.classList.add('bg-success');

                    // Cargar práctica e informe en modo solo lectura
                    fetch(`/obtener_practica_por_estudiante/${idEstudiante}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error al obtener datos de la práctica del estudiante');
                            }
                            return response.json();
                        })
                        .then(practicaData => {
                            if (practicaData.idPractica) {
                                fetch(`/obtener_informe_final_estudiante/${idEstudiante}/${practicaData.idPractica}`)
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Error al cargar el informe final del estudiante');
                                        }
                                        return response.json();
                                    })
                                    .then(informeData => {
                                        // Cargar datos del informe
                                        cargarDatosInforme(informeData);

                                        // Cargar datos de la práctica y estudiante
                                        const idInput = document.getElementById('id');
                                        if (idInput) {
                                            idInput.value = practicaData.idPractica || '';
                                            idInput.disabled = true;
                                        }
                                        cargarDatosPractica(practicaData);
                                        cargarDatosEstudiante(idEstudiante);

                                        // Habilitar solo lectura (sin deshabilitar tabs)
                                        setFormularioSoloLectura(true, false);

                                        document.getElementById('estudiante').disabled = true;
                                        document.getElementById('fecha_entrega').value = fechaActualFormateada;
                                    })
                                    .catch(error => {
                                        console.error("Error al cargar el informe final:", error);
                                        mostrarAlerta("error", "Error", "Hubo un error al cargar el informe final del estudiante.");
                                    });
                            } else {
                                mostrarAlerta("error", "Error", "No se encontró una práctica activa para el estudiante.");
                            }
                        })
                        .catch(error => {
                            console.error("Error al obtener la práctica del estudiante:", error);
                            mostrarAlerta("error", "Error", "Hubo un error al obtener la práctica del estudiante.");
                        });
                    return;
                } else if (estado === 2 || estado === 1) { // Pendiente o Rechazado
                    if (estado === 1) {
                        estadoIndicador.textContent = 'Rechazado';
                        estadoIndicador.classList.add('bg-danger');
                        mostrarAlerta("warning", "Advertencia", "El estudiante tiene un informe final rechazado.");
                    } else {
                        estadoIndicador.textContent = 'Pendiente de aprobación';
                        estadoIndicador.classList.add('bg-warning');
                    }

                    fetch(`/obtener_practica_por_estudiante/${idEstudiante}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error al obtener datos de la práctica del estudiante');
                            }
                            return response.json();
                        })
                        .then(practicaData => {
                            if (practicaData.idPractica) {
                                fetch(`/obtener_informe_final_estudiante/${idEstudiante}/${practicaData.idPractica}`)
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Error al cargar el informe final del estudiante');
                                        }
                                        return response.json();
                                    })
                                    .then(informeData => {
                                        cargarDatosInforme(informeData);
                                        const idInput = document.getElementById('id');
                                        if (idInput) {
                                            idInput.value = practicaData.idPractica || '';
                                            idInput.disabled = true;
                                        }
                                        cargarDatosPractica(practicaData);
                                        cargarDatosEstudiante(idEstudiante);
                                        enableTabs();
                                        document.getElementById('estudiante').disabled = true;
                                        document.getElementById('fecha_entrega').value = fechaActualFormateada;
                                    })
                                    .catch(error => {
                                        console.error("Error al cargar el informe final:", error);
                                        mostrarAlerta("error", "Error", "Hubo un error al cargar el informe final del estudiante.");
                                    });
                            } else {
                                mostrarAlerta("error", "Error", "No se encontró una práctica activa para el estudiante.");
                            }
                        })
                        .catch(error => {
                            console.error("Error al obtener la práctica del estudiante:", error);
                            mostrarAlerta("error", "Error", "Hubo un error al obtener la práctica del estudiante.");
                        });
                    return;
                } else {
                    estadoIndicador.textContent = '';
                    estadoIndicador.classList.add('d-none');
                }
                fetch(`/obtener_practica_por_estudiante/${idEstudiante}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error al obtener datos del estudiante');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.error) {
                            mostrarAlerta("error", "Error", data.error);
                            limpiarControles();
                        } else if (data.mensaje) {
                            mostrarAlerta("info", "Información", data.mensaje);
                            limpiarControles();
                        } else {
                            const idInput = document.getElementById('id');
                            if (idInput) {
                                idInput.value = data.idPractica || '';
                                idInput.disabled = true;
                            }
                            cargarDatosPractica(data);
                            cargarDatosEstudiante(idEstudiante);
                            enableTabs();
                            document.getElementById('estudiante').disabled = true;
                            document.getElementById('fecha_entrega').value = fechaActualFormateada;
                        }
                    })
                    .catch(error => {
                        console.error("Error al buscar la práctica del estudiante:", error);
                        mostrarAlerta("error", "Error", "Hubo un error al buscar la práctica del estudiante.");
                    });
            })
            .catch(error => {
                console.error("Error al obtener el estado del informe final:", error);
                mostrarAlerta("error", "Error", "Hubo un error al verificar el estado del informe final.");
            });
    });

    // Función para habilitar/deshabilitar controles
    function setFormularioSoloLectura(soloLectura) {
        enableTabs();
        const inputs = document.querySelectorAll('.tab-content input, .tab-content textarea, .tab-content select, .tab-content button:not(.nav-link)');
        inputs.forEach(input => {
            if (soloLectura) {
                input.setAttribute('disabled', 'true');
            } else {
                input.removeAttribute('disabled');
            }
        });
        const guardarBtn = document.getElementById('btnGuardar');
        const cancelarBtn = document.getElementById('btnCancelar');
        if (guardarBtn) {
            guardarBtn.style.display = soloLectura ? 'none' : '';
        }
        if (cancelarBtn) {
            cancelarBtn.style.display = '';
        }
    }

    // Función para guardar el informe
    document.getElementById('btnGuardar').addEventListener('click', async function (event) {
        event.preventDefault();
        const idPractica = document.getElementById('id').value;
        const idInforme = document.getElementById('idInformeMod').value;
        const fecha_entrega = document.getElementById('fecha_entrega').value;
        const introduccion = document.getElementById('intro').value;
        const cantidad_trabajadores = document.getElementById('cantidad_trabajadores').value;
        const mision = document.getElementById('mision').value;
        const vision = document.getElementById('vision').value;
        const infraestructura_fisica = document.getElementById('infraestructura_fisica').value;
        const infraestructura_tecnologica = document.getElementById('infraestructura_tecnologica').value;
        const area_trabajo = document.getElementById('area_trabajo').value;
        const labores_realizadas = document.getElementById('labores_realizadas').value;
        const bibliografia = document.getElementById('bibliografiai').value;
        const organigramaInput = document.getElementById('organigrama');
        const anexosInput = document.getElementById('anexos');
        const firma1Input = document.getElementById('firma1');
        const firma2Input = document.getElementById('firma2');
        const organigramaBase64 = organigramaInput.files[0]
            ? await convertirABase64(organigramaInput.files[0])
            : organigramaBase64Previo;
        const anexosBase64 = anexosInput.files[0]
            ? await convertirABase64(anexosInput.files[0])
            : anexosBase64Previo;
        const firma1Base64 = firma1Input.files[0]
            ? await convertirABase64(firma1Input.files[0])
            : firma1Base64Previo;
        const firma2Base64 = firma2Input.files[0]
            ? await convertirABase64(firma2Input.files[0])
            : firma2Base64Previo;
        const conclusiones = Array.from(
            document.querySelectorAll('#tabla-conclusion textarea[name="conclusion[]"]')
        )
            .map((textarea) => textarea.value.trim())
            .filter((value) => value !== '');
        const recomendaciones = Array.from(
            document.querySelectorAll('#tabla-recomendacion textarea[name="recomendacion[]"]')
        )
            .map((textarea) => textarea.value.trim())
            .filter((value) => value !== '');
        if (
            !idPractica ||
            !fecha_entrega ||
            !introduccion ||
            !cantidad_trabajadores ||
            !mision ||
            !vision ||
            !infraestructura_fisica ||
            !infraestructura_tecnologica ||
            !area_trabajo ||
            !labores_realizadas
        ) {
            mostrarAlerta("warning", "Advertencia", "Por favor, complete todos los campos requeridos.");
            return;
        }
        const data = {
            idInforme,
            idPractica,
            fecha_entrega,
            introduccion,
            cantidad_trabajadores,
            mision,
            vision,
            infraestructura_fisica,
            infraestructura_tecnologica,
            organigrama: organigramaBase64,
            area_trabajo,
            labores_realizadas,
            conclusiones,
            recomendaciones,
            bibliografia,
            anexos: anexosBase64,
            firma1: firma1Base64,
            firma2: firma2Base64,
        };
        fetch('/agregar_informe_final_estudiante', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((data) => {
                if (data.error) {
                    mostrarAlerta("error", "Error", data.error);
                } else {
                    mostrarAlerta("success", "Éxito", data.mensaje);
                    limpiarControles();
                }
            })
            .catch((error) => {
                console.error('Error al guardar el informe:', error);
                mostrarAlerta("error", "Error", "Hubo un error al guardar el informe.");
            });
    });

</script>
{% endblock %}
