{% extends "/ppp/home.html" %}
{% block titulo %} Gestionar Prácticas {% endblock %}
{% block contenido %}
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb"  style="padding-bottom: 0px; margin-bottom: -10px;">
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.index') }}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.practicas_pre_profesionales') }}">Módulo de Prácticas Pre Profesionales</a></li>
        <li class="breadcrumb-item active"><a href="{{ url_for('router_main.ppp') }}">Prácticas Pre Profesionales</a></li>
    </ol>
</nav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    body {
        overflow: hidden;
    }
    .scrollable {
    height: 42%;
    overflow-y: auto;
    }
    fieldset {
        margin-bottom: 20px;
        padding-bottom: 15px;
    }
    .form-label {
        margin-bottom: 5px;
        
    }
    td > textarea {
        padding: 0;
    }

    td {
        padding: 0 !important;
    }
</style>
<div class="container-fluid my-4">
    <div class="card w-100" style="height: 100%;">
        <div class="card-header bg-red-usat text-white">
            Prácticas Pre Profesionales
        </div>
        <div class="card-body scrollable">
                <!-- Encabezado -->
                <fieldset>   
                    <div class="row">      
                        <div class="col-4">
                            <label for="estudiante" class="form-label">Estudiante:</label>
                            <div class="d-flex align-items-end">
                                <div class="flex-grow-1 me-2">
                                    <div class="custom-combo">
                                        <input type="text" id="estudiante" class="form-control" placeholder="Seleccionar estudiante" autocomplete="off">
                                        <ul id="dropdown-estudiantes" class="dropdown-menu"></ul>
                                    </div>
                                </div>
                                <button id="btnBuscarE" type="submit" class="btn btn-secondary">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </div>   
                        <div class="col-2">
                            <label for="semestrea" class="form-label">Semestre Académico:</label>
                            <select class="form-select" id="semestrea" name="semestrea" required>
                                <option value="" disabled selected>Seleccionar semestre</option>
                            </select>
                        </div>
                                                 
                        <div class="col-2">
                            <label class="form-label">ㅤ</label>
                            <button id="btnNuevo" class="btn btn-primary d-flex align-items-center" style="margin-left: 5px;" onclick="nuevaPractica()">
                                <i class="fas fa-plus me-1"></i> Nueva Práctica
                            </button>
                        </div>  
                        <input type="hidden" class="form-control me-2" id="id" name="id" required>                 
                        <input type="hidden" id="idPersonaMod" name="idPersonaMod">                                                                                     
                    </div>   
                </fieldset>

                <div class="row">
                    <div class="col-md-6">
                        <div class="practicas-tabs">
                            <!-- Tab Datos de la Práctica -->
                            <legend>Datos de la Práctica Pre Profesional</legend>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="ppp-tab" data-bs-toggle="tab" href="#ppp" role="tab" aria-controls="ppp" aria-selected="true">Datos de la PPP</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="institucion-tab" data-bs-toggle="tab" href="#institucion" role="tab" aria-controls="institucion" aria-selected="false">Datos de la Institución</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="estado-tab" data-bs-toggle="tab" href="#estado" role="tab" aria-controls="estado" aria-selected="false">Estado</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="supervision-tab" data-bs-toggle="tab" href="#supervision" role="tab" aria-controls="supervision" aria-selected="false">Supervisión</a>
                                </li>
                            </ul>

                            <!-- Contenido de cada Tab -->
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="ppp" role="tabpanel" aria-labelledby="ppp-tab">
                                    <div class="row mb-3">
                                        <div class="col-md-5">
                                            <label for="fechaInicio" class="form-label">Fecha Inicial:</label>
                                            <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
                                        </div>
                                        <div class="col-md-5">
                                            <label for="fechaFin" class="form-label">Fecha Final:</label>
                                            <input type="date" class="form-control" id="fechaFin" name="fechaFin">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Modalidad:</label>
                                            <div class="col-md-6 d-flex align-items-center">
                                                <div class="form-check me-3">
                                                    <input type="radio" class="form-check-input" id="modalidadP" name="modalidad" value="P" required checked>
                                                    <label class="form-check-label" for="modalidadP">P</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="radio" class="form-check-input" id="modalidadV" name="modalidad" value="V" required>
                                                    <label class="form-check-label" for="modalidadV">V</label>
                                                </div>                                           
                                            </div>
                                        </div>
                                    </div>                         
                                    <div class="row mb-3">
                                        <div class="col">
                                            <label for="horario" class="form-label">Horario:</label>
                                            <input type="text" class="form-control" id="horario" name="horario">
                                        </div>
                                    </div>                           
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="horasrequeridas" class="form-label">Horas Requeridas:</label>
                                            <input type="number" class="form-control" id="horasrequeridas" name="horasrequeridas" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="horaspendientes" class="form-label">Horas Pendientes:</label>
                                            <input type="number" class="form-control" id="horaspendientes" name="horaspendientes">
                                        </div>
                                    </div>                           
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="horaspractica" class="form-label">Horas de Práctica:</label>
                                            <input type="number" class="form-control" id="horaspractica" name="horaspractica" value="0">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="requiere" class="form-label">Requiere nuevas PPP</label>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="requiere" name="requiere" disabled>
                                                <label for="requiere" class="form-check-label ms-2"></label>
                                            </div>
                                        </div>                                    
                                    </div>                           
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="tipo_practica" class="form-label">Tipo:</label>
                                            <select class="form-select" id="tipo_practica" name="tipo_practica" required>
                                                <option value="" disabled selected>Seleccionar tipo de práctica</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="area" class="form-label">Área:</label>
                                            <input type="text" class="form-control" id="area" name="area" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="institucion" role="tabpanel" aria-labelledby="institucion-tab">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="razonsocial" class="form-label">Razón Social:</label>
                                            <select class="form-select" id="razonsocial" name="razonsocial" required>
                                                <option value="" disabled selected>Seleccionar razón social</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="giroinstitucion" class="form-label">Giro:</label>
                                            <input type="text" class="form-control" id="giroinstitucion" name="giroinstitucion" required readonly>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="lineadesarrollo" class="form-label">Línea de Desarrollo:</label>
                                            <select class="form-select" id="lineadesarrollo" name="lineadesarrollo" required>
                                                <option value="" disabled selected>Seleccionar línea de desarrollo</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="jefe" class="form-label">Jefe Inmediato:</label>
                                            <input type="text" class="form-control" id="jefe" name="jefe" required readonly>
                                        </div>
                                    </div>  
                                </div>
                                <div class="tab-pane fade" id="estado" role="tabpanel" aria-labelledby="estado-tab">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="estadopractica" class="form-label">Estado de la Práctica:</label>
                                            <select class="form-select" id="estadopractica" name="estadopractica">
                                                <option value="" disabled selected>Seleccionar estado</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="estadovigencia" class="form-label">Estado de Vigencia:</label>
                                            <select class="form-select" id="estadovigencia" name="estadovigencia">
                                                <option value="" disabled selected>Seleccionar estado</option>
                                                <option value="P">En Proceso</option>
                                                <option value="F">Finalizada</option>
                                                <option value="C">Cancelada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="semestrefinal" class="form-label">Semestre Finalización:</label>
                                            <select class="form-select" id="semestrefinal" name="semestrefinal">
                                                <option value="" disabled selected>Seleccionar semestre</option>
                                            </select>
                                        </div>
                                    </div> 
                                </div>
                                <div class="tab-pane fade" id="supervision" role="tabpanel" aria-labelledby="supervision-tab">
                                    <fieldset>
                                        <div class="d-flex mb-2">
                                            <button type="button" class="btn btn-primary btn-sm" id="btnAgregar"><i class="fas fa-plus"></i> Agregar</button>
                                            <button type="button" class="btn btn-danger btn-sm ms-2" id="btnBorrar"><i class="fas fa-trash-alt"></i></i> Eliminar</button>
                                        </div>
                                        <table class="table table-bordered" id="tabla-supervision">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10%;">N°</th>
                                                    <th>Fecha</th>
                                                    <th>Funciones</th>
                                                    <th>Observación</th>
                                                    <th style="width: 10%;">Select</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="number" min="0" class="form-control" name="num[]" required readonly></td>
                                                    <td>
                                                        <input type="date" id="fechasupervision" class="form-control" name="fechasupervision[]" required>
                                                    </td>
                                                    <td><textarea type="text" id="funciones" class="form-control" name="funciones[]" required></textarea>
                                                    <td><textarea type="text" id="observacion" class="form-control" name="observacion[]" required></textarea>
                                                    <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-supervision"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </div>
                        </div>   
                    </div>
                    <div class="col-md-6">
                        <div class="practicas-tabs">
                            <!-- Tab Cumplimiento de los Informes -->
                            <legend>Cumplimiento de los Informes</legend>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="iiniciales-tab" data-bs-toggle="tab" href="#iiniciales" role="tab" aria-controls="iiniciales" aria-selected="true">Informes Iniciales</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="ifinales-tab" data-bs-toggle="tab" href="#ifinales" role="tab" aria-controls="ifinales" aria-selected="false">Informes Finales</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="constancia-tab" data-bs-toggle="tab" href="#constancia" role="tab" aria-controls="constancia" aria-selected="false">Ficha de Evaluación - Constancia de PPP</a>
                                </li>
                            </ul>
                            <!-- Contenido de cada Tab -->
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="iiniciales" role="tabpanel" aria-labelledby="iiniciales-tab">
                                    <div class="row mb-3">                     
                                        <div class="col-md-6">     
                                            <div class="form-check">
                                                <label for="inicialestudiante" class="form-label">Informe Inicial (Estudiante):</label>
                                                <input type="checkbox" class="form-check-input" id="inicialestudiante" name="inicialestudiante"readonly >
                                            </div>
                                        </div>
                                        <div class="col-md-6">                                        
                                            <div class="form-check">
                                                <label for="inicialinstitucion" class="form-label">Informe Inicial (Institución):</label>
                                                <input type="checkbox" class="form-check-input" id="inicialinstitucion" name="inicialinstitucion"readonly >
                                            </div>
                                        </div>                      
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="ifinales" role="tabpanel" aria-labelledby="ifinales-tab">
                                    <div class="row mb-3">                     
                                        <div class="col-md-6">                                       
                                            <div class="form-check">
                                                <label for="finalestudiante" class="form-label">Informe Final (Estudiante):</label>
                                                <input type="checkbox" class="form-check-input" id="finalestudiante" name="finalestudiante" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-6">                                    
                                            <div class="form-check">
                                                <label for="finalinstitucion" class="form-label">Informe Final (Institución):</label>
                                                <input type="checkbox" class="form-check-input" id="finalinstitucion" name="finalinstitucion" readonly>
                                            </div>
                                        </div>                      
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="constancia" role="tabpanel" aria-labelledby="constancia-tab">
                                    <div class="row mb-3">                     
                                        <div class="col-md-6">
                                            <div class="form-check">
                                                <label for="constancia" class="form-check-label ms-2">Constancia de PPP:</label>
                                                <input type="checkbox" class="form-check-input" id="constancia" name="constancia">                      
                                            </div>
                                        </div>          
                                    </div>
                                </div>
                                <div class="text-end">
                                    <button id="btnCancelar" type="button" class="btn btn-danger" style="margin-top: 15px;">Cancelar</button>
                                    <button id="btnGuardar" type="submit" class="btn btn-primary" style="margin-top: 15px;">Guardar</button>
                                    <button id="btnFinalizar" type="submit" class="btn btn-success" style="margin-top: 15px;">Finalizar Práctica</button>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>       
        </div>
    </div>
</div>

<script>
    
    document.getElementById('inicialestudiante').addEventListener('click', function (e) {
        e.preventDefault(); // Evita el cambio de estado
    });
    document.getElementById('inicialinstitucion').addEventListener('click', function (e) {
        e.preventDefault(); // Evita el cambio de estado
    });
    document.getElementById('finalestudiante').addEventListener('click', function (e) {
        e.preventDefault(); // Evita el cambio de estado
    });
    document.getElementById('finalinstitucion').addEventListener('click', function (e) {
        e.preventDefault(); // Evita el cambio de estado
    });

    // Evento para cuando cargas la página
    document.addEventListener('DOMContentLoaded', function() {
        limpiarControles();
    });
    
    // Evento para Cancelar
    document.getElementById('btnCancelar').addEventListener('click', function() {
        limpiarControles();
    });

    // Función para formatear la fecha
    function formatFechaParaInput(fecha) {
        const date = new Date(fecha);
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate() + 1).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }
        
    // Funcion para mostrar alerta
    function mostrarAlerta(tipo, titulo, mensaje) {
            Swal.fire({
                icon: tipo,
                title: titulo,
                html: mensaje,
                showConfirmButton: true,
                timer: 5000
            });
        }

    // Función para deshabilitar los tabs
    function disableTabs() {
        const tabs = document.querySelectorAll('.practicas-tabs .nav-link');
        const tabContents = document.querySelectorAll('.practicas-tabs .tab-pane');
        tabs.forEach(tab => {
            tab.classList.add('disabled');
            tab.setAttribute('aria-disabled', 'true');
            tab.setAttribute('tabindex', '-1');
        });
        tabContents.forEach(content => {
            content.classList.add('disabled');
        });
        $('#btnFinalizar').hide();
    }

    // Función para habilitar los tabs
    function enableTabs() {
        const tabs = document.querySelectorAll('.practicas-tabs .nav-link');
        const tabContents = document.querySelectorAll('.practicas-tabs .tab-pane');
        tabs.forEach(tab => {
            tab.classList.remove('disabled');
            tab.removeAttribute('aria-disabled');
            tab.removeAttribute('tabindex');
        });
        tabContents.forEach(content => {
            content.classList.remove('disabled');
        });
        $('#btnFinalizar').show();
    }
    
    // Función para limpiar controles
    function limpiarControles() {
        document.getElementById('fechaInicio').value = '';
        document.getElementById('fechaFin').value = '';
        document.getElementById('horario').value = '';
        document.getElementById('area').value = '';
        document.getElementById('horasrequeridas').value = '';
        document.getElementById('horaspendientes').value = '';
        document.getElementById('horaspractica').value = '';
        document.getElementById('giroinstitucion').value = '';
        document.getElementById('jefe').value = '';
        document.getElementById('estudiante').value = '';
        document.getElementById('estudiante').disabled = false;
        document.getElementById('dropdown-estudiantes').disabled = false;
        document.getElementById('btnNuevo').disabled = false;
        document.getElementById('id').value = '';
        document.getElementById('id').disabled = false;
        document.getElementById('idPersonaMod').value = '';
        document.getElementById('idPersonaMod').disabled = false;
        document.getElementById('semestrea').selectedIndex = 0;
        document.getElementById('lineadesarrollo').selectedIndex = 0;
        document.getElementById('razonsocial').selectedIndex = 0;
        document.getElementById('tipo_practica').selectedIndex = 0;
        idPersona = '';
        const modalidadRadios = document.querySelectorAll('input[name="modalidad"]');
        modalidadRadios.forEach(radio => {
            radio.checked = false;
        });
        const tablaSupervision = document.getElementById('tabla-supervision');
        const tbody = tablaSupervision.querySelector('tbody');
        tbody.innerHTML = '';
        const filaVacia = `
            <tr>
                <td><input type="number" min="0" class="form-control" name="num[]" required readonly></td>
                <td>
                    <input type="date" id="fechasupervision" class="form-control" name="fechasupervision[]" required>
                </td>
                <td><textarea type="text" id="funciones" class="form-control" name="funciones[]" required></textarea></td>
                <td><textarea type="text" id="observacion" class="form-control" name="observacion[]" required></textarea></td>
                <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-supervision"></td>
            </tr>
        `;
        tbody.innerHTML = filaVacia;
        const pppTab = document.getElementById('ppp-tab');
        const bootstrapTab = new bootstrap.Tab(pppTab);
        bootstrapTab.show();
        disableTabs();
    }

    // Función para nueva práctica
    function nuevaPractica() {
        const estudianteInput = document.getElementById('estudiante');
        const idEstudiante = idPersona; // Asumiendo que idPersona almacena el ID del estudiante
        const semestreInput = document.getElementById('semestrea');

        // Verificar si los campos de estudiante y semestre están completos
        if (!estudianteInput.value.trim()) {
            mostrarAlerta("warning", "Advertencia", "Por favor, seleccione un estudiante.");
            return;
        }
        if (!semestreInput.value) {
            mostrarAlerta("warning", "Advertencia", "Por favor, seleccione un semestre.");
            return;
        }

        // Verificar si el estudiante ya tiene una práctica activa
        fetch(`/verificar_practica_activa/${idEstudiante}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    mostrarAlerta("error", "Error", "Hubo un error al verificar la práctica activa.");
                    console.error("Error al verificar la práctica activa:", data.error);
                    return;
                }
                if (data.practica_activa) {
                    // Si el estudiante ya tiene una práctica activa
                    mostrarAlerta("info", "Información", "Este estudiante ya tiene una práctica en proceso.");
                    return;
                }

                // Si no hay práctica activa, proceder con la creación de una nueva práctica
                const inputID = document.getElementById('id');
                if (inputID.value === '') {
                    fetch('/obtener_ultimo_id')
                        .then(response => response.json())
                        .then(data => {
                            inputID.value = data[0].ultimoID;
                        })
                        .catch(error => console.error('Error al obtener el último ID:', error));
                }
                inputID.disabled = true;
                enableTabs();
                document.getElementById('estudiante').disabled = true;
                document.getElementById('estudiante').disabled = true;
                document.getElementById('btnNuevo').disabled = true;
            })
            .catch(error => {
                console.error("Error al verificar la práctica activa:", error);
                mostrarAlerta("error", "Error", "Hubo un error al verificar la práctica activa.");
            });
    }

    // Evento para cargar los últimos semestres actuales dinámicamente
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/datos_ultimos_semestres')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById('semestrea');
                data.forEach(semestre => {
                    const option = document.createElement('option');
                    option.value = semestre.idSemestre;
                    option.textContent = semestre.nombre;   
                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    });

    // Evento para cargar los últimos semestres finales dinámicamente
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/datos_ultimos_semestres')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById('semestrefinal');
                data.forEach(semestre => {
                    const option = document.createElement('option');
                    option.value = semestre.idSemestre;
                    option.textContent = semestre.nombre;   
                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    });

    // Evento para cargar los tipos de práctica dinámicamente
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/datos_tipo_practicas')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById('tipo_practica');
                data.forEach(tipo_practica => {
                    const option = document.createElement('option');
                    option.value = tipo_practica.idTipoPractica;
                    option.textContent = tipo_practica.nombre;
                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    });

    // Evento para cargar las líneas de desarrollo dinámicamente
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/datos_lineas_desarrollo')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById('lineadesarrollo');
                data.forEach(linea_desarrollo => {
                    const option = document.createElement('option');
                    option.value = linea_desarrollo.idLinea;
                    option.textContent = linea_desarrollo.nombre;
                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    });

    // Evento para cargar las instituciones dinámicamente
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/datos_instituciones')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById('razonsocial');
                data.forEach(institucion => {
                    const option = document.createElement('option');
                    option.value = institucion.numDoc;
                    option.textContent = institucion.razonSocial;
                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    });

    // Evento al seleccionar una institución
    document.getElementById('razonsocial').addEventListener('change', function() {
        const numDocInstitucion = this.value;
        if (numDocInstitucion) {
            obtenerDatosInstitucion(numDocInstitucion);
        }
    });

    // Evento para agregar nueva supervisión
    $('#btnAgregar').on('click', function() {
        const tablaBody = $('#tabla-supervision tbody');
        let nuevoNumero = 1;
        const numerosExistentes = tablaBody.find('input[name="num[]"]').map(function() {
            return parseInt($(this).val(), 10) || 0;
        }).get();

        if (numerosExistentes.length > 0) {
            nuevoNumero = Math.max(...numerosExistentes) + 1;
        }
        const nuevaFila = `<tr>
            <td><input type="number" min="0" class="form-control" name="num[]" value="${nuevoNumero}" required readonly></td>
            <td>
                <input type="date" id="fechasupervision" class="form-control" name="fechasupervision[]" required>
            </td>
            <td><textarea type="text" id="funciones" class="form-control" name="funciones[]" required></textarea></td>
            <td><textarea type="text" id="observacion" class="form-control" name="observacion[]" required></textarea></td>
            <td class="text-center"><input type="checkbox" class="form-check-input seleccionar-supervision"></td>
        </tr>`;
        tablaBody.append(nuevaFila);
    });

    // Evento para eliminar una supervisión
    $('#btnBorrar').on('click', function() {
        $('.seleccionar-supervision:checked').closest('tr').remove();
    });

    // Función para cargar datos de la institución
    function obtenerDatosInstitucion(numDocInstitucion) {
        const jefeInput = document.getElementById('jefe');
        const giroInput = document.getElementById('giroinstitucion');
        jefeInput.value = '';
        giroInput.value = '';
        fetch(`/jefe_institucion?ruc=${numDocInstitucion}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al obtener datos de la institución');
                }
                return response.json();
            })
            .then(data => {
                if (data && data.length > 0) {
                    jefeInput.value = `${data[0].apellidos} ${data[0].nombre}`;
                    giroInput.value = data[0].giro || 'Giro no disponible';
                } else {
                    jefeInput.value = 'No se encontró jefe.';
                    giroInput.value = 'Giro no disponible';
                }
            })
            .catch(error => {
                console.error('Error al obtener los datos de la institución:', error);
                jefeInput.value = 'No se encontró jefe.';
                giroInput.value = 'Giro no disponible';
            });
    }

    // Evento para cargar los estados dinámicamente
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/datos_estados')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById('estadopractica');
                data.forEach(estado => {
                    const option = document.createElement('option');
                    option.value = estado.idEstado;
                    option.textContent = estado.nombre;
                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    });

    // Función para mostrar y recuperar estudiantes en el dropdown-search
    const inputEstudiante = document.getElementById('estudiante');
    const dropdownEstudiantes = document.getElementById('dropdown-estudiantes');
    let idPersona = 0;
    inputEstudiante.addEventListener('input', function() {
        const searchText = this.value.toLowerCase();
        fetch('/datos_estudiantes')
            .then(response => response.json())
            .then(data => {
                dropdownEstudiantes.innerHTML = '';
                const resultados = data.filter(estudiante => 
                    `${estudiante.apellidos} ${estudiante.nombre}`.toLowerCase().includes(searchText)
                );
                if (resultados.length > 0) {
                    resultados.forEach(estudiante => {
                        const li = document.createElement('li');
                        li.textContent = `${estudiante.apellidos} ${estudiante.nombre}`;
                        li.dataset.id = estudiante.idPersona;
                        li.addEventListener('click', () => {
                            inputEstudiante.value = li.textContent;
                            idPersona = li.dataset.id;
                            $('#idPersonaMod').val(response.idPersona);
                            dropdownEstudiantes.classList.remove('show');
                            handleEstudianteChange();
                            calcularHorasPendientes();
                        });
                        dropdownEstudiantes.appendChild(li);
                    });
                    dropdownEstudiantes.classList.add('show');
                } else {
                    dropdownEstudiantes.classList.remove('show');
                }
            })
            .catch(error => console.error('Error:', error));
    });

    // Evento para el click en estudiantes
    document.addEventListener('click', function(event) {
        if (!inputEstudiante.contains(event.target) && !dropdownEstudiantes.contains(event.target)) {
            dropdownEstudiantes.classList.remove('show');
        }
    });

    // Función para calcular horas pendientes
    function calcularHorasPendientes(){
        const requeridas = parseFloat(document.getElementById('horasrequeridas').value) || 0;
        const practica = parseFloat(document.getElementById('horaspractica').value) || 0;
        const pendientes = requeridas - practica;
        document.getElementById('horaspendientes').value = pendientes;
        document.getElementById('requiere').checked = (pendientes > 0);
    }
    document.addEventListener('DOMContentLoaded', calcularHorasPendientes);
    document.getElementById('horasrequeridas').addEventListener('input', calcularHorasPendientes);
    document.getElementById('horaspractica').addEventListener('input', calcularHorasPendientes);
    document.getElementById('estudiante').addEventListener('input', calcularHorasPendientes)
  
    // Función para Guardar o Actualizar prácticas
    document.getElementById('btnGuardar').addEventListener('click', function (event) {
        event.preventDefault();
        const fechaInicio = document.getElementById('fechaInicio').value;
        const horario = document.getElementById('horario').value;
        const modalidad = document.querySelector('input[name="modalidad"]:checked').value;
        const area = document.getElementById('area').value;
        const numeroHorasPPP = document.getElementById('horasrequeridas').value;
        const numeroHorasPendientes = document.getElementById('horaspendientes').value;
        const numeroHorasRealizadas = document.getElementById('horaspractica').value;
        const idSemestre = document.getElementById('semestrea').value;
        const idLinea = document.getElementById('lineadesarrollo').value;
        const numDocInstitucion = document.getElementById('razonsocial').value;
        const idTipoPractica = document.getElementById('tipo_practica').value;
        const idPersona = document.getElementById('idPersonaMod').value;
        const idPractica = document.getElementById('id').value;
        if (
            !idPractica || !fechaInicio || !modalidad || !horario || !area ||
            !numeroHorasPPP || !numeroHorasPendientes || !numeroHorasRealizadas ||
            !idSemestre || !idLinea || !numDocInstitucion || !idTipoPractica || !idPersona
        ) {
            mostrarAlerta("warning", "Advertencia", "Todos los campos son requeridos.");
            return;
        }
        const supervisiones = [];
        const filasSupervision = document.querySelectorAll('#tabla-supervision tbody tr');
        filasSupervision.forEach(fila => {
            const idSupervision = fila.querySelector('input[name="num[]"]')?.value || null;
            const fecha = fila.querySelector('input[name="fechasupervision[]"]').value;
            const funciones = fila.querySelector('textarea[name="funciones[]"]').value;
            const observaciones = fila.querySelector('textarea[name="observacion[]"]').value;
            if (!fecha || !funciones || !observaciones) {
                mostrarAlerta("info", "Advertencia", "No se registraron supervisiones.");
                return;
            }
            supervisiones.push({
                idSupervision: idSupervision || null,
                fecha: fecha,
                funciones: funciones,
                observaciones: observaciones,
                estado: "A"
            });
        });
        fetch('/agregar_practica', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                idPractica,
                fechaInicio,
                horario,
                modalidad,
                area,
                numeroHorasPPP,
                numeroHorasPendientes,
                numeroHorasRealizadas,
                idSemestre,
                idLinea,
                numDocInstitucion,
                idTipoPractica,
                idPersona,
                supervisiones
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    mostrarAlerta("error", "Error", data.error);
                } else {
                    mostrarAlerta("success", "Éxito", data.mensaje);
                    limpiarControles();
                }
            })
            .catch(error => {
                console.error("Error en la solicitud:", error);
                mostrarAlerta("error", "Error en la solicitud", "Hubo un error al realizar la solicitud.");
            });
    });

    // Función para cargar datos de la práctica
    function cargarDatosPractica(data) {
        document.getElementById('fechaInicio').value = data.fechaInicio ? formatFechaParaInput(data.fechaInicio) : '';
        document.getElementById('fechaFin').value = data.fechaFin ? formatFechaParaInput(data.fechaFin) : '';
        document.getElementById('horario').value = data.horario || '';
        document.querySelector(`input[name="modalidad"][value="${data.modalidad}"]`).checked = true;
        document.getElementById('area').value = data.area || '';
        document.getElementById('horasrequeridas').value = data.numeroHorasPPP || '';
        document.getElementById('horaspendientes').value = data.numeroHorasPendientes || '';
        document.getElementById('horaspractica').value = data.numeroHorasRealizadas || '';
        document.getElementById('semestrea').value = data.idSemestre || '';
        document.getElementById('lineadesarrollo').value = data.idLinea || '';
        document.getElementById('razonsocial').value = data.numDocInstitucion || '';
        document.getElementById('estadopractica').value = data.idEstado || '';
        document.getElementById('estadovigencia').value = data.estadoVigencia || '';
        document.getElementById('tipo_practica').value = data.idTipoPractica || '';
        document.getElementById('estudiante').value = `${data.apellidosEstudiante} ${data.nombreEstudiante}`;
        document.getElementById('idPersonaMod').value = data.idPersona || '';
        calcularHorasPendientes();
        if (data.numDocInstitucion) {
            obtenerDatosInstitucion(data.numDocInstitucion);
        }
    }
    
    // Función para cargar cumplimiento de los informes
    function cargarDatosInforme(data) {
        document.getElementById('inicialestudiante').checked = data.informe1 || false;
        document.getElementById('inicialinstitucion').checked = data.informe2 || false;
        document.getElementById('finalestudiante').checked = data.informe3 || false;
        document.getElementById('finalinstitucion').checked = data.informe4 || false;
    }

    function cargarSupervisiones(idPractica) {
        fetch(`/supervisiones_practica/${idPractica}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    console.error("Error al cargar las supervisiones:", data.error);
                    mostrarAlerta("error", "Error", data.error);
                } else {
                    const tbody = document.querySelector("#tabla-supervision tbody");
                    tbody.innerHTML = "";
                    data.forEach((supervision, index) => {
                        const fila = `
                            <tr>
                                <td><input type="number" min="0" class="form-control" name="num[]" value="${index + 1}" required readonly></td>
                                <td>
                                    <input type="date" class="form-control" name="fechasupervision[]" value="${supervision.fecha}" required>
                                </td>
                                <td><textarea type="text" class="form-control" name="funciones[]" required>${supervision.funciones}</textarea></td>
                                <td><textarea type="text" class="form-control" name="observacion[]" required>${supervision.observaciones}</textarea></td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input seleccionar-supervision">
                                </td>
                            </tr>
                        `;
                        tbody.insertAdjacentHTML("beforeend", fila);
                    });
                }
            })
            .catch(error => {
                console.error("Error al cargar las supervisiones:", error);
                mostrarAlerta("error", "Error", "Hubo un error al cargar las supervisiones.");
            });
    }

    // Función para buscar por Estudiante
    document.getElementById('btnBuscarE').addEventListener('click', function (event) {
        event.preventDefault();
        const idEstudiante = idPersona;
        if (!idEstudiante) {
            mostrarAlerta("warning", "Advertencia", "Por favor, seleccione un estudiante válido para buscar.");
            return;
        }
        fetch(`/obtener_practica_por_estudiante/${idEstudiante}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    mostrarAlerta("error", "Error", data.error);
                    limpiarControles();
                } else if (data.mensaje) {
                    mostrarAlerta("info", "Información", data.mensaje);
                    limpiarControles();
                } else {
                    const idInput = document.getElementById('id');
                    if (idInput) {
                        idInput.value = data.idPractica || '';
                        idInput.disabled = true;
                    }
                    cargarDatosPractica(data);
                    document.getElementById('estudiante').disabled = true;
                    document.getElementById('btnNuevo').disabled = true;
                    enableTabs();
                    fetch(`/informes_practica/${data.idPractica}`)
                        .then(response => response.json())
                        .then(informeData => {
                            if (informeData.error) {
                                console.error("Error al cargar los informes:", informeData.error);
                            } else {
                                cargarDatosInforme(informeData);
                            }
                        })
                        .catch(error => {
                            console.error("Error al buscar los informes de la práctica:", error);
                        });
                    fetch(`/supervisiones_practica/${data.idPractica}`)
                        .then(response => response.json())
                        .then(supervisionesData => {
                            if (supervisionesData.error) {
                                console.error("Error al cargar las supervisiones:", supervisionesData.error);
                                mostrarAlerta("error", "Error", supervisionesData.error);
                            } else {
                                cargarSupervisiones(data.idPractica);
                            }
                        })
                        .catch(error => {
                            console.error("Error al buscar las supervisiones de la práctica:", error);
                            mostrarAlerta("error", "Error", "Hubo un error al cargar las supervisiones.");
                        });
                }
            })
            .catch(error => {
                console.error("Error al buscar la práctica del estudiante:", error);
                mostrarAlerta("error", "Error", "Hubo un error al buscar la práctica del estudiante.");
            });
    });

    // Función para Finalizar Práctica
    document.getElementById('btnFinalizar').addEventListener('click', function (event) {
        event.preventDefault();
        const fechaFinInput = document.getElementById('fechaFin');
        const semestreSelect = document.getElementById('semestrefinal');
        const tabPPP = document.querySelector('#ppp-tab');
        const bootstrapTab = new bootstrap.Tab(tabPPP);
        const inicialEstudianteCheck = document.getElementById('inicialestudiante');
        const inicialInstitucionCheck = document.getElementById('inicialinstitucion');
        const finalEstudianteCheck = document.getElementById('finalestudiante');
        const finalInstitucionCheck = document.getElementById('finalinstitucion');
        const idPractica = document.getElementById('id').value;
        const allChecksSelected =
            inicialEstudianteCheck.checked &&
            inicialInstitucionCheck.checked &&
            finalEstudianteCheck.checked &&
            finalInstitucionCheck.checked;
        if (fechaFinInput.value && semestreSelect.value && allChecksSelected) {
            fetch(`/finalizar_practica/${idPractica}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    fechaFin: fechaFinInput.value,
                    semestreFinal: semestreSelect.value
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    mostrarAlerta("error", "Error", data.error);
                    console.error("Error al finalizar la práctica:", data.error);
                } else {
                    mostrarAlerta("success", "Éxito", data.mensaje);
                    limpiarControles();
                    disableTabs();
                }
            })
            .catch(error => {
                console.error("Error al finalizar la práctica:", error);
                mostrarAlerta("error", "Error", "Hubo un error al finalizar la práctica.");
            });
        } else {
            bootstrapTab.show();
            fechaFinInput.focus();

            if (!fechaFinInput.value) {
                mostrarAlerta("warning", "Falta Fecha", "Por favor, ingrese la fecha de finalización.");
            }
            if (!semestreSelect.value) {
                mostrarAlerta("warning", "Falta Semestre", "Por favor, seleccione el semestre final.");
            }
            if (!allChecksSelected) {
                mostrarAlerta("warning", "Faltan Informes", "No puedes finalizar una práctica sin todos los informes aprobados.");
            }
        }
    });

    // Evento cuando fecha final cambia
    document.getElementById('fechaFin').addEventListener('change', function () {
        const fechaFin = this.value;
        const tabEstado = document.querySelector('#estado-tab');
        const bootstrapTab = new bootstrap.Tab(tabEstado);
        if (!fechaFin) {
            console.error("No se seleccionó una fecha válida.");
            return;
        }
        fetch(`/obtener_semestre_por_fecha/${fechaFin}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error("Error al obtener el semestre por fecha.");
                }
                return response.json();
            })
            .then(data => {
                const selectSemestre = document.getElementById('semestrefinal');
                if (!data || !data.idSemestre) {
                    console.warn("No se encontró un semestre para la fecha seleccionada.");
                    selectSemestre.selectedIndex = 0;
                    return;
                }
                selectSemestre.value = data.idSemestre;
                bootstrapTab.show();
                selectSemestre.focus();
            })
            .catch(error => {
                console.error("Error en la solicitud para obtener el semestre:", error);
            });
    });


</script>

{% endblock %}
