{% extends "/gestion_academica/index.html" %}
{% block titulo %} Escuela {% endblock %}
{% block contenido %}

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.index') }}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.gestion_academica') }}">Módulo de Gestión Académica</a></li>
        <li class="breadcrumb-item active" aria-current="page">Escuelas</li>
    </ol>
</nav>

<div class="container-fluid my-4">
    <div class="card w-100">
        <div class="card-header bg-red-usat text-white">Escuelas</div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabla-escuela" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th style="width: 22%" class="text-center">Nombre</th>
                            <th class="text-center">Abreviatura</th>
                            <th class="text-center">Estado</th>
                            <th style="width: 17%" class="text-center">Facultad</th>
                            <th class="text-center">Horas para PPP</th>
                            <th class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos se cargarán dinámicamente -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- MODAL ESCUELA -->
<div class="modal fade" id="modalEscuela" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="formEscuela">
                    <input type="hidden" id="idEscuelaMod" name="idEscuelaMod">

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nombreEscuelaMod" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombreEscuelaMod" name="nombreEscuelaMod" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="abreviaturaEscuelaMod" class="form-label">Abreviatura:</label>
                            <input type="text" class="form-control" id="abreviaturaEscuelaMod" name="abreviaturaEscuelaMod" required>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="mb-3">
                            <label for="estadoEscuelaMod" class="form-label">Estado:</label>
                            <select class="form-control" id="estadoEscuelaMod" name="estadoEscuelaMod" required>
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="horasEscuelaMod" class="form-label">Horas para PPP:</label>
                            <input type="number" class="form-control" id="horasEscuelaMod" name="horasEscuelaMod" required>
                        </div>
                    </div>
   
                    <div class="mb-3">
                        <label for="facultadEscuelaMod" class="form-label">Facultad:</label>
                        <select class="form-control" id="facultadEscuelaMod" name="facultadEscuelaMod" required>
                            <!-- Opciones de facultades se cargarán dinámicamente -->
                        </select>
                    </div>       
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmar" tabindex="-1" aria-labelledby="modalConfirmarLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center fw-bold" id="modal-title-confirmar"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center">
                <p><span id="texto-confirmar"></span><strong id="nombreEscuelaConfirmar"></strong>?</p>
                <input type="hidden" id="idEscuelaConfirmar" name="idEscuelaConfirmar">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="confirmarEscuela">Aceptar</button>
            </div>
        </div>
    </div>
</div>

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.print.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function () {
        if ($.fn.DataTable.isDataTable('#tabla-escuela')) {
            $('#tabla-escuela').DataTable().clear().destroy();
        }
        var table = $('#tabla-escuela').DataTable({
            paging: true,
            pageLength: 10,
            lengthMenu: [5, 10, 15, 20],
            info: true,
            responsive: true,
            autoWidth: true,
            searching: true,
            order: [], 
            dom: '<"top-controls d-flex justify-content-between"fB>rt<"bottom-controls"ip>',
            buttons: [
                {
                    text: '<i class="fas fa-plus"></i> Agregar Nueva Escuela',
                    className: 'btnAgregar btn btn-primary mb-2',
                    action: function (e, dt, node, config) {
                        e.preventDefault();
                        $('#formEscuela')[0].reset();
                        $('#modalEscuela').modal('show');
                    }
                },   
                {
                    extend: 'collection',
                    text: '<i class="fas fa-file-export"></i> Exportar/Imprimir',
                    className: 'btn btn-secondary mb-2',
                    autoClose: true,
                    buttons: [
                        { extend: 'copy', text: '<i class="fas fa-copy"></i> Copiar', className: 'dropdown-item' },
                        { extend: 'csv', text: '<i class="fas fa-file-csv"></i> CSV', className: 'dropdown-item' },
                        { extend: 'excel', text: '<i class="fas fa-file-excel"></i> Excel', className: 'dropdown-item' },
                        { extend: 'pdf', text: '<i class="fas fa-file-pdf"></i> PDF', className: 'dropdown-item' },
                        { extend: 'print', text: '<i class="fas fa-print"></i> Imprimir', className: 'dropdown-item' }
                    ]
                }
                
            ],
            ajax: {
                url: '/datos_escuelas',
                type: 'GET',
                dataSrc: ''
            },
            columns: [
                { data: "idEscuela", className: 'text-center' },
                { data: "nombre" },
                { data: "abreviatura", className: 'text-center' },
                { data: "estado", className: 'text-center', render: data => data === 'A' ? 'Activo' : 'Inactivo' },
                { data: "facultad"},
                { data: "hRequeridas", className: 'text-center' },
                {
                    data: null,
                    className: 'text-center',
                    render: function (data) {
                        return `
                            <button class="btn btn-primary btn-sm btnVer" data-id="${data.idEscuela}" title="Ver"><i class="fas fa-eye"></i></button>
                            <button class="btn btn-warning btn-sm btnModificar" data-id="${data.idEscuela}" title="Modificar"><i class="fas fa-pencil-alt"></i></button>
                            <button class="btn btn-danger btn-sm btnEliminar" data-id="${data.idEscuela}" data-nombre="${data.nombre}" title="Eliminar"><i class="fas fa-times"></i></button>
                            <button class="btn btn-secondary btn-sm btnDarDeBaja" data-id="${data.idEscuela}" data-nombre="${data.nombre}" title="Dar de Baja"><i class="fas fa-arrow-down"></i></button>
                        `;
                    }
                }
            ],
            language: {
                url: "{{ url_for('static', filename='js/es-ES.json') }}"
            }
        });

        // Funcion para mostrar alerta
        function mostrarAlerta(tipo, titulo, mensaje) {
            Swal.fire({
                icon: tipo,
                title: titulo,
                html: mensaje,
                showConfirmButton: true,
                timer: 5000
            });
        }

        // Función para cargar las facultades dinámicamente
        function cargarFacultades(selectedFacultadId) {
            $.ajax({
                url: '/datos_facultades',
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    var facultadSelect = $('#facultadEscuelaMod');
                    facultadSelect.empty();
                    facultadSelect.append('<option value="" disabled selected>Seleccionar facultad</option>');
                    response.forEach(function (facultad) {
                        var selected = parseInt(facultad.idFacultad) === parseInt(selectedFacultadId) ? 'selected' : '';  
                        facultadSelect.append(`<option value="${facultad.idFacultad}" ${selected}>${facultad.nombre}</option>`);
                    });
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al cargar las facultades.");
                }
            });
        }

        // Función para deshabilitar los controles
        function deshabilitarControles(){
            $('#idEscuelaMod').prop('disabled', true);
            $('#nombreEscuelaMod').prop('disabled', true);
            $('#abreviaturaEscuelaMod').prop('disabled', true);
            $('#estadoEscuelaMod').prop('disabled', true);
            $('#horasEscuelaMod').prop('disabled', true);
            $('#facultadEscuelaMod').prop('disabled', true);
        }

        // Función para habilitar los controles
        function habilitarControles(){
            $('#idEscuelaMod').prop('disabled', false);
            $('#nombreEscuelaMod').prop('disabled', false);
            $('#abreviaturaEscuelaMod').prop('disabled', false);
            $('#estadoEscuelaMod').prop('disabled', false);
            $('#horasEscuelaMod').prop('disabled', false);
            $('#facultadEscuelaMod').prop('disabled', false);
        }

        // Evento para Ver Escuela
        $('#tabla-escuela tbody').on('click', '.btnVer', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/obtener_escuela_por_id/' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        $('#modal-title').text("Ver Escuela");
                        $('#formEscuela')[0].reset();
                        $('#idEscuelaMod').val(response.idEscuela);
                        $('#nombreEscuelaMod').val(response.nombre);
                        $('#abreviaturaEscuelaMod').val(response.abreviatura);
                        $('#estadoEscuelaMod').val(response.estado);
                        $('#horasEscuelaMod').val(response.hRequeridas);
                        cargarFacultades(response.idFacultad);
                        deshabilitarControles();
                        $('#btnCancelar').hide();
                        $('#btnGuardar').hide();
                        $('#btnCerrar').show();
                        $('#modalEscuela').modal('show');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al obtener la escuela.");
                }
            });
        });

        // Evento para Agregar Escuela
        $(document).on('click', '.btnAgregar', function (e) {
            e.preventDefault();
            $('#modal-title').text("Agregar Escuela");
            $('#formEscuela')[0].reset();
            $('#idEscuelaMod').val('');
            $('#nombreEscuelaMod').val('');
            $('#abreviaturaEscuelaMod').val('');
            $('#estadoEscuelaMod').val('');
            $('#horasEscuelaMod').val('');
            $('#escuelaMod').val('');
            cargarFacultades();
            habilitarControles();
            $('#btnCancelar').show();
            $('#btnGuardar').show();
            $('#btnCerrar').hide();
            $('#modalEscuela').modal('show');
        });
        $('#formEscuela').submit(function (e) {
            e.preventDefault();
            if ($('#idEscuelaMod').val() === '') {
                var data = {
                    nombre: $('#nombreEscuelaMod').val(),
                    abreviatura: $('#abreviaturaEscuelaMod').val(),
                    estado: $('#estadoEscuelaMod').val(),
                    hRequeridas: $('#horasEscuelaMod').val(),
                    idFacultad: $('#facultadEscuelaMod').val()
                };
                $.ajax({
                    url: '/agregar_escuela',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        if (response.error) {
                            mostrarAlerta("error", "Error", response.error);
                        } else {
                            mostrarAlerta("success", "Éxito", response.mensaje);
                            table.ajax.reload();
                            $('#modalEscuela').modal('hide');
                        }
                    },
                    error: function (xhr, status, error) {
                        mostrarAlerta("error", "Error", "Hubo un error al agregar la escuela.");
                    }
                });
            }
        });

        // Evento para Modificar Escuela
        $('#tabla-escuela tbody').on('click', '.btnModificar', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/obtener_escuela_por_id/' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        $('#modal-title').text("Modificar Escuela");
                        $('#formEscuela')[0].reset();
                        $('#idEscuelaMod').val(response.idEscuela);
                        $('#nombreEscuelaMod').val(response.nombre);
                        $('#abreviaturaEscuelaMod').val(response.abreviatura);
                        $('#estadoEscuelaMod').val(response.estado);
                        $('#horasEscuelaMod').val(response.hRequeridas);
                        cargarFacultades(response.idFacultad);
                        habilitarControles();
                        $('#btnCancelar').show();
                        $('#btnGuardar').show();
                        $('#btnCerrar').hide();
                        $('#modalEscuela').modal('show');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al obtener la escuela.");
                }
            });
        });
        $('#formEscuela').submit(function (e) {
            e.preventDefault();
            var data = {
                idEscuela: $('#idEscuelaMod').val(),
                nombre: $('#nombreEscuelaMod').val(),
                abreviatura: $('#abreviaturaEscuelaMod').val(),
                estado: $('#estadoEscuelaMod').val(),
                hRequeridas: $('#horasEscuelaMod').val(),
                idFacultad: $('#facultadEscuelaMod').val()
            };
            $.ajax({
                url: '/modificar_escuela',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        mostrarAlerta("success", "Éxito", response.mensaje);
                        table.ajax.reload();
                        $('#modalEscuela').modal('hide');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al modificar la escuela.");
                }
            });
        });

        // Evento para Eliminar Escuela
        $('#tabla-escuela tbody').on('click', '.btnEliminar', function () {
            var id = $(this).data('id');
            var nombre = $(this).data('nombre');
            $('#modal-title-confirmar').text('Eliminar Escuela');
            $('#texto-confirmar').text('¿Estás seguro de que deseas eliminar la escuela ');
            $('#nombreEscuelaConfirmar').text(nombre);
            $('#idEscuelaConfirmar').val(id);
            $('#confirmarEscuela').data('accion', 'eliminar');
            $('#modalConfirmar').modal('show');
        });

        // Evento para Dar de Baja Escuela
        $('#tabla-escuela tbody').on('click', '.btnDarDeBaja', function () {
            var id = $(this).data('id');
            var nombre = $(this).data('nombre');
            $('#modal-title-confirmar').text('Dar de Baja Escuela');
            $('#texto-confirmar').text('¿Estás seguro de que deseas dar de baja la escuela ');
            $('#nombreEscuelaConfirmar').text(nombre);
            $('#idEscuelaConfirmar').val(id);
            $('#confirmarEscuela').data('accion', 'darDeBaja');
            $('#modalConfirmar').modal('show');
        });

        // Evento para Confirmar
        $('#confirmarEscuela').click(function () {
            var id = $('#idEscuelaConfirmar').val();
            var accion = $(this).data('accion');
            var url = '';
            var mensajeExito = '';
            var mensajeError = '';
            if (accion === 'eliminar') {
                url = '/eliminar_escuela';
                mensajeExito = 'La escuela fue eliminada correctamente';
                mensajeError = 'Hubo un error al eliminar la escuela.';
            } else if (accion === 'darDeBaja') {
                url = '/dar_de_baja_escuela';
                mensajeExito = 'La escuela fue dada de baja correctamente';
                mensajeError = 'Hubo un error al dar de baja la escuela.';
            }
            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ idEscuela: id }),
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        mostrarAlerta("success", "Éxito", mensajeExito);
                        table.ajax.reload();
                        $('#modalConfirmar').modal('hide');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", mensajeError);
                }
            });
        });
        
    });
</script>
{% endblock %}
{% endblock %}
