{% extends "/gestion_academica/index.html" %}
{% block titulo %} Facultad {% endblock %}
{% block contenido %}

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.index') }}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.gestion_academica') }}">Módulo de Gestión Académica</a></li>
        <li class="breadcrumb-item active" aria-current="page">Facultades</li>
    </ol>
</nav>

<div class="container-fluid my-4">
    <div class="card w-100">
        <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Facultades
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabla-facultad" class="table table-striped tabla-facultades" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Abreviatura</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos se cargarán dinámicamente -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- MODAL FACULTAD -->
<div class="modal fade" id="modalFacultad" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="formFacultad">
                    <input type="hidden" id="idFacultadMod" name="idFacultadMod">

                    <div class="mb-3">
                        <label for="nombreFacultadMod" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombreFacultadMod" name="nombreFacultadMod" required
                            pattern="[A-Za-zÀ-ÿ\u00f1\u00d1\s]+" title="Solo letras y espacios"
                            oninput="this.value = this.value.replace(/[^A-Za-zÀ-ÿ\u00f1\u00d1\s]/g, '')">
                    </div>

                    <div class="mb-3">
                        <label for="abreviaturaFacultadMod" class="form-label">Abreviatura:</label>
                        <input type="text" class="form-control" id="abreviaturaFacultadMod" name="abreviaturaFacultadMod" maxlength="4" required
                            pattern="[A-Za-z]{1,4}" title="Solo letras, máximo 4 caracteres"
                            oninput="this.value = this.value.replace(/[^A-Za-z]/g, '').slice(0, 4)">
                    </div>

                    <div class="mb-3">
                        <label for="estadoMod" class="form-label">Estado:</label>
                        <select class="form-control" id="estadoMod" name="estadoMod" required>
                            <option value="" disabled selected>Seleccionar estado</option>
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                        </select>
                    </div>

                    <div class="text-end">
                        <button type="button" class="btn btn-danger" id="btnCancelar" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
                        <button type="button" class="btn btn-danger" id="btnCerrar" data-bs-dismiss="modal">Cerrar</button>
                    </div>   
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmar" tabindex="-1" aria-labelledby="modalConfirmarLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center fw-bold" id="modal-title-confirmar"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center">
                <p><span id="texto-confirmar"></span><strong id="nombreFacultadConfirmar"></strong>?</p>
                <input type="hidden" id="idFacultadConfirmar" name="idFacultadConfirmar">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="confirmarFacultad">Aceptar</button>
            </div>
        </div>
    </div>
</div>

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.print.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 

<script>
    $(document).ready(function () {
        if ($.fn.DataTable.isDataTable('#tabla-facultad')) {
            $('#tabla-facultad').DataTable().clear().destroy();
        }
        var table = $('#tabla-facultad').DataTable({
            paging: true,
            pageLength: 10,
            lengthMenu: [5, 10, 15, 20],
            info: true,
            responsive: true,
            autoWidth: true,
            searching: true,
            order: [], 
            dom: '<"top-controls d-flex justify-content-between"fB>rt<"bottom-controls"ip>',
            buttons: [
                {
                    text: '<i class="fas fa-plus"></i> Agregar Nueva Facultad   ',
                    className: 'btnAgregar btn btn-primary mb-2',
                    action: function (e, dt, node, config) {
                        e.preventDefault();
                        $('#formFacultad')[0].reset();
                        $('#modalFacultad').modal('show');
                    }
                },   
                {
                    extend: 'collection',
                    text: '<i class="fas fa-file-export"></i> Exportar/Imprimir',
                    className: 'btn btn-secondary mb-2',
                    autoClose: true,
                    buttons: [
                        { extend: 'copy', text: '<i class="fas fa-copy"></i> Copiar', className: 'dropdown-item' },
                        { extend: 'csv', text: '<i class="fas fa-file-csv"></i> CSV', className: 'dropdown-item' },
                        { extend: 'excel', text: '<i class="fas fa-file-excel"></i> Excel', className: 'dropdown-item' },
                        { extend: 'pdf', text: '<i class="fas fa-file-pdf"></i> PDF', className: 'dropdown-item' },
                        { extend: 'print', text: '<i class="fas fa-print"></i> Imprimir', className: 'dropdown-item' }
                    ]
                }
                
            ],
            ajax: {
                url: "/datos_facultades",
                type: "GET",
                dataSrc: ""
            },
            processing: true,
            serverSide: false,
            columns: [
                { data: "idFacultad", className: 'text-center' },
                { data: "nombre"},
                { data: "abreviatura", className: 'text-center'},
                { 
                    data: "estado",
                    className: 'text-center',
                    render: function (data, type, row) {
                        return data === 'A' ? 'Activo' : 'Inactivo';
                    }
                },
                {
                    data: null, 
                    className: 'text-center',
                    render: function (data, type, row) {
                        return `
                            <button class="btn btn-primary btn-sm btnVer" data-id="${row.idFacultad}" title="Ver"><i class="fas fa-eye"></i></button>
                            <button class="btn btn-warning btn-sm btnModificar" data-id="${row.idFacultad}" title="Modificar"><i class="fas fa-pencil-alt"></i></button>
                            <button class="btn btn-danger btn-sm btnEliminar" data-id="${row.idFacultad}" data-nombre="${row.nombre}" title="Eliminar"><i class="fas fa-trash-alt"></i></i></button>
                            <button class="btn btn-secondary btn-sm btnDarDeBaja" data-id="${row.idFacultad}" data-nombre="${row.nombre}" title="Dar de Baja"><i class="fas fa-arrow-down"></i></button>
                        `;
                    }
                }
            ],
            language: {
                url: "{{ url_for('static', filename='js/es-ES.json') }}"
            }
        });

        // Función para mostrar alerta
        function mostrarAlerta(tipo, titulo, mensaje) {
            Swal.fire({
                icon: tipo,
                title: titulo,
                html: mensaje,
                showConfirmButton: true,
                timer: 5000
            });
        }

        // Función para deshabilitar los controles
        function deshabilitarControles(){
            $('#idFacultadMod').prop('disabled', true);
            $('#nombreFacultadMod').prop('disabled', true);
            $('#abreviaturaFacultadMod').prop('disabled', true);
            $('#estadoMod').prop('disabled', true);
        }

        // Función para habilitar los controles
        function habilitarControles(){
            $('#idFacultadMod').prop('disabled', false);
            $('#nombreFacultadMod').prop('disabled', false);
            $('#abreviaturaFacultadMod').prop('disabled', false);
            $('#estadoMod').prop('disabled', false);
        }

        // Evento para Ver Facultad
        $('#tabla-facultad tbody').on('click', '.btnVer', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/obtener_facultad_por_id/' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        $('#modal-title').text("Ver Facultad");
                        $('#formFacultad')[0].reset();
                        $('#idFacultadMod').val(response.idFacultad);
                        $('#nombreFacultadMod').val(response.nombre);
                        $('#abreviaturaFacultadMod').val(response.abreviatura);
                        $('#estadoMod').val(response.estado);
                        deshabilitarControles();
                        $('#btnCancelar').hide();
                        $('#btnGuardar').hide();
                        $('#btnCerrar').show();
                        $('#modalFacultad').modal('show');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al obtener la facultad.");
                }
            });
        });

        // Evento para Agregar Facultad
        $(document).on('click', '.btnAgregar', function (e) {
            e.preventDefault();
            $('#modal-title').text("Agregar Facultad");
            $('#formFacultad')[0].reset();
            $('#idFacultadMod').val('');
            $('#nombreFacultadMod').val('');
            $('#abreviaturaFacultadMod').val('');
            $('#estadoMod').val('');
            habilitarControles();
            $('#btnCancelar').show();
            $('#btnGuardar').show();
            $('#btnCerrar').hide();
            $('#modalFacultad').modal('show');
        });

        // Evento para Modificar Facultad
        $('#tabla-facultad tbody').on('click', '.btnModificar', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/obtener_facultad_por_id/' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        $('#modal-title').text("Modificar Facultad");
                        $('#formFacultad')[0].reset();
                        $('#idFacultadMod').val(response.idFacultad);
                        $('#nombreFacultadMod').val(response.nombre);
                        $('#abreviaturaFacultadMod').val(response.abreviatura);
                        $('#estadoMod').val(response.estado);
                        habilitarControles();
                        $('#btnCancelar').show();
                        $('#btnGuardar').show();
                        $('#btnCerrar').hide();
                        $('#modalFacultad').modal('show');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al obtener la facultad.");
                }
            });
        });

        $('#formFacultad').submit(function (e) {
            e.preventDefault();
            if ($('#idFacultadMod').val() === '') {
                var data = {
                    nombre: $('#nombreFacultadMod').val(),
                    abreviatura: $('#abreviaturaFacultadMod').val(),
                    estado: $('#estadoMod').val(),
                };
                $.ajax({
                    url: '/agregar_facultad',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        if (response.error) {
                            mostrarAlerta("error", "Error", response.error);
                        } else {
                            mostrarAlerta("success", "Éxito", response.mensaje);
                            table.ajax.reload();
                            $('#modalFacultad').modal('hide');
                        }
                    },
                    error: function (xhr, status, error) {
                        mostrarAlerta("error", "Error", "Hubo un error al agregar la facultad.");
                    }
                });
            } else {
                var data = {
                    idFacultad: $('#idFacultadMod').val(),
                    nombre: $('#nombreFacultadMod').val(),
                    abreviatura: $('#abreviaturaFacultadMod').val(),
                    estado: $('#estadoMod').val(),
                };
                $.ajax({
                    url: '/modificar_facultad',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        if (response.error) {
                            mostrarAlerta("error", "Error", response.error);
                        } else {
                            mostrarAlerta("success", "Éxito", response.mensaje);
                            table.ajax.reload();
                            $('#modalFacultad').modal('hide');
                        }
                    },
                    error: function (xhr, status, error) {
                        mostrarAlerta("error", "Error", "Hubo un error al modificar la facultad.");
                    }
                });
            }
        });

        // Evento para Eliminar Facultad
        $('#tabla-facultad tbody').on('click', '.btnEliminar', function () {
            var id = $(this).data('id');
            var nombre = $(this).data('nombre');
            $('#modal-title-confirmar').text('Eliminar Facultad');
            $('#texto-confirmar').text('¿Estás seguro de que deseas eliminar la facultad ');
            $('#nombreFacultadConfirmar').text(nombre);
            $('#idFacultadConfirmar').val(id);
            $('#confirmarFacultad').data('accion', 'eliminar');
            $('#modalConfirmar').modal('show');
        });

        // Evento para Dar de Baja Facultad
        $('#tabla-facultad tbody').on('click', '.btnDarDeBaja', function () {
            var id = $(this).data('id');
            var nombre = $(this).data('nombre');
            $('#modal-title-confirmar').text('Dar de Baja Facultad');
            $('#texto-confirmar').text('¿Estás seguro de que deseas dar de baja la facultad ');
            $('#nombreFacultadConfirmar').text(nombre);
            $('#idFacultadConfirmar').val(id);
            $('#confirmarFacultad').data('accion', 'darDeBaja');
            $('#modalConfirmar').modal('show');
        });

        // Evento para Confirmar
        $('#confirmarFacultad').click(function () {
            var id = $('#idFacultadConfirmar').val();
            var accion = $(this).data('accion');
            var url = '';
            var mensajeExito = '';
            var mensajeError = '';
            if (accion === 'eliminar') {
                url = '/eliminar_facultad';
                mensajeExito = 'La facultad fue eliminado correctamente';
                mensajeError = 'Hubo un error al eliminar la facultad.';
            } else if (accion === 'darDeBaja') {
                url = '/dar_de_baja_facultad';
                mensajeExito = 'La facultad fue dado de baja correctamente';
                mensajeError = 'Hubo un error al dar de baja la facultad.';
            }
            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ idFacultad: id }),
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        mostrarAlerta("success", "Éxito", mensajeExito);
                        table.ajax.reload();
                        $('#modalConfirmar').modal('hide');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", mensajeError);
                }
            });
        });

    });
</script>
{% endblock %}
{% endblock %}
