{% extends "/gestion_academica/index.html" %}
{% block titulo %} Genero {% endblock %}
{% block contenido %}

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.index') }}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.gestion_academica') }}">Módulo de Gestión Académica</a></li>
        <li class="breadcrumb-item active" aria-current="page">Géneros</li>
    </ol>
</nav>

<div class="container-fluid my-4">
    <div class="card w-100">
        <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Géneros
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabla-genero" class="table table-striped tabla-generos" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos se cargarán dinámicamente -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- MODAL GENERO -->
<div class="modal fade" id="modalGenero" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="formGenero">
                    <input type="hidden" id="idGeneroMod" name="idGeneroMod">
                    <div class="mb-3">
                        <label for="nombreGeneroMod" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombreGeneroMod" name="nombreGeneroMod" required>
                    </div>
                    <div class="mb-3">
                        <label for="estadoMod" class="form-label">Estado:</label>
                        <select class="form-control" id="estadoMod" name="estadoMod" required>
                            <option value="" disabled selected>Seleccionar estado</option>
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                        </select>
                    </div>
                    <div class="text-end">
                        <button type="button" class="btn btn-danger" id="btnCancelar" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
                        <button type="button" class="btn btn-danger" id="btnCerrar" data-bs-dismiss="modal">Cerrar</button>
                    </div>   
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmar" tabindex="-1" aria-labelledby="modalConfirmarLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center fw-bold" id="modal-title-confirmar"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center">
                <p><span id="texto-confirmar"></span><strong id="nombreGeneroConfirmar"></strong>?</p>
                <input type="hidden" id="idGeneroConfirmar" name="idGeneroConfirmar">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="confirmarGenero">Aceptar</button>
            </div>
        </div>
    </div>
</div>

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.print.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 

<script>
    $(document).ready(function () {
        if ($.fn.DataTable.isDataTable('#tabla-genero')) {
            $('#tabla-genero').DataTable().clear().destroy();
        }
        var table = $('#tabla-genero').DataTable({
            paging: true,
            pageLength: 10,
            lengthMenu: [5, 10, 15, 20],
            info: true,
            responsive: true,
            autoWidth: true,
            searching: true,
            order: [], 
            dom: '<"top-controls d-flex justify-content-between"fB>rt<"bottom-controls"ip>',
            buttons: [
                {
                    text: '<i class="fas fa-plus"></i> Agregar Nuevo Genero   ',
                    className: 'btnAgregar btn btn-primary mb-2',
                    action: function (e, dt, node, config) {
                        e.preventDefault();
                        $('#formGenero')[0].reset();
                        $('#modalGenero').modal('show');
                    }
                },   
                {
                    extend: 'collection',
                    text: '<i class="fas fa-file-export"></i> Exportar/Imprimir',
                    className: 'btn btn-secondary mb-2',
                    autoClose: true,
                    buttons: [
                        { extend: 'copy', text: '<i class="fas fa-copy"></i> Copiar', className: 'dropdown-item' },
                        { extend: 'csv', text: '<i class="fas fa-file-csv"></i> CSV', className: 'dropdown-item' },
                        { extend: 'excel', text: '<i class="fas fa-file-excel"></i> Excel', className: 'dropdown-item' },
                        { extend: 'pdf', text: '<i class="fas fa-file-pdf"></i> PDF', className: 'dropdown-item' },
                        { extend: 'print', text: '<i class="fas fa-print"></i> Imprimir', className: 'dropdown-item' }
                    ]
                }
                
            ],
            ajax: {
                url: "/datos_generos",
                type: "GET",
                dataSrc: ""
            },
            processing: true,
            serverSide: false,
            columns: [
                { data: "idGenero", className: 'text-center' },
                { data: "nombre", className: 'text-center'},
                { 
                    data: "estado",
                    className: 'text-center',
                    render: function (data, type, row) {
                        return data === 'A' ? 'Activo' : 'Inactivo';
                    }
                },
                {
                    data: null, 
                    className: 'text-center',
                    render: function (data, type, row) {
                        return `
                            <button class="btn btn-primary btn-sm btnVer" data-id="${row.idGenero}" title="Ver"><i class="fas fa-eye"></i></button>
                            <button class="btn btn-warning btn-sm btnModificar" data-id="${row.idGenero}" title="Modificar"><i class="fas fa-pencil-alt"></i></button>
                            <button class="btn btn-danger btn-sm btnEliminar" data-id="${row.idGenero}" data-nombre="${row.nombre}" title="Eliminar"><i class="fas fa-times"></i></button>
                            <button class="btn btn-secondary btn-sm btnDarDeBaja" data-id="${row.idGenero}" data-nombre="${row.nombre}" title="Dar de Baja"><i class="fas fa-arrow-down"></i></button>
                        `;
                    }
                }
            ],
            language: {
                url: "{{ url_for('static', filename='js/es-ES.json') }}"
            }
        });

        // Función para mostrar alerta
        function mostrarAlerta(tipo, titulo, mensaje) {
            Swal.fire({
                icon: tipo,
                title: titulo,
                html: mensaje,
                showConfirmButton: true,
                timer: 5000
            });
        }

        // Función para deshabilitar los controles
        function deshabilitarControles(){
            $('#idGeneroMod').prop('disabled', true);
            $('#nombreGeneroMod').prop('disabled', true);
            $('#estadoMod').prop('disabled', true);
        }

        // Función para habilitar los controles
        function habilitarControles(){
            $('#idGeneroMod').prop('disabled', false);
            $('#nombreGeneroMod').prop('disabled', false);
            $('#estadoMod').prop('disabled', false);
        }

        // Evento para Ver Genero
        $('#tabla-genero tbody').on('click', '.btnVer', function () {
            var id = $(this).data('id');
            console.log(id);
            $.ajax({
                url: '/obtener_genero_por_id/' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        $('#modal-title').text("Ver Género");
                        $('#formGenero')[0].reset();
                        $('#idGeneroMod').val(response.idGenero);
                        $('#nombreGeneroMod').val(response.nombre);
                        $('#estadoMod').val(response.estado);
                        deshabilitarControles();
                        $('#btnCancelar').hide();
                        $('#btnGuardar').hide();
                        $('#btnCerrar').show();
                        $('#modalGenero').modal('show');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al obtener el género.");
                }
            });
        });

        // Evento para Agregar Genero
        $(document).on('click', '.btnAgregar', function (e) {
            e.preventDefault();
            $('#modal-title').text("Agregar Género");
            $('#formGenero')[0].reset();
            $('#idGeneroMod').val('');
            $('#nombreGeneroMod').val('');
            $('#estadoMod').val('');
            habilitarControles();
            $('#btnCancelar').show();
            $('#btnGuardar').show();
            $('#btnCerrar').hide();
            $('#modalGenero').modal('show');
        });
        $('#formGenero').submit(function (e) {
            e.preventDefault();
            if ($('#idGeneroMod').val() === '') {
                var data = {
                    nombre: $('#nombreGeneroMod').val(),
                    estado: $('#estadoMod').val(),
                };
                $.ajax({
                    url: '/agregar_genero',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        if (response.error) {
                            mostrarAlerta("error", "Error", response.error);
                        } else {
                            mostrarAlerta("success", "Éxito", response.mensaje);
                            table.ajax.reload();
                            $('#modalGenero').modal('hide');
                        }
                    },
                    error: function (xhr, status, error) {
                        mostrarAlerta("error", "Error", "Hubo un error al agregar el género.");
                    }
                });
            }
        });

        // Evento para Modificar Genero
        $('#tabla-genero tbody').on('click', '.btnModificar', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/obtener_genero_por_id/' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        $('#modal-title').text("Modificar Género");
                        $('#formGenero')[0].reset();
                        $('#idGeneroMod').val(response.idGenero);
                        $('#nombreGeneroMod').val(response.nombre);
                        $('#estadoMod').val(response.estado);
                        habilitarControles();
                        $('#btnCancelar').show();
                        $('#btnGuardar').show();
                        $('#btnCerrar').hide();
                        $('#modalGenero').modal('show');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al obtener el género.");
                }
            });
        });
        $('#formGenero').submit(function (e) {
            e.preventDefault();
            var data = {
                idGenero: $('#idGeneroMod').val(),
                nombre: $('#nombreGeneroMod').val(),
                estado: $('#estadoMod').val(),
            };
            $.ajax({
                url: '/modificar_genero',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        mostrarAlerta("success", "Éxito", response.mensaje);
                        table.ajax.reload();
                        $('#modalGenero').modal('hide');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al modificar el género.");
                }
            });
        });

        // Evento para Eliminar Genero
        $('#tabla-genero tbody').on('click', '.btnEliminar', function () {
            var id = $(this).data('id');
            var nombre = $(this).data('nombre');
            $('#modal-title-confirmar').text('Eliminar Género');
            $('#texto-confirmar').text('¿Estás seguro de que deseas eliminar el género ');
            $('#nombreGeneroConfirmar').text(nombre);
            $('#idGeneroConfirmar').val(id);
            $('#confirmarGenero').data('accion', 'eliminar');
            $('#modalConfirmar').modal('show');
        });

        // Evento para Dar de Baja Genero
        $('#tabla-genero tbody').on('click', '.btnDarDeBaja', function () {
            var id = $(this).data('id');
            var nombre = $(this).data('nombre');
            $('#modal-title-confirmar').text('Dar de Baja Género');
            $('#texto-confirmar').text('¿Estás seguro de que deseas dar de baja el género ');
            $('#nombreGeneroConfirmar').text(nombre);
            $('#idGeneroConfirmar').val(id);
            $('#confirmarGenero').data('accion', 'darDeBaja');
            $('#modalConfirmar').modal('show');
        });

        // Evento para Confirmar
        $('#confirmarGenero').click(function () {
            var id = $('#idGeneroConfirmar').val();
            var accion = $(this).data('accion');
            var url = '';
            var mensajeExito = '';
            var mensajeError = '';
            if (accion === 'eliminar') {
                url = '/eliminar_genero';
                mensajeExito = 'El género fue eliminado correctamente';
                mensajeError = 'Hubo un error al eliminar el género.';
            } else if (accion === 'darDeBaja') {
                url = '/dar_de_baja_genero';
                mensajeExito = 'El género fue dado de baja correctamente';
                mensajeError = 'Hubo un error al dar de baja el género.';
            }
            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ idGenero: id }),
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        mostrarAlerta("success", "Éxito", mensajeExito);
                        table.ajax.reload();
                        $('#modalConfirmar').modal('hide');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", mensajeError);
                }
            });
        });

    });
</script>
{% endblock %}
{% endblock %}
