{% extends "gestion_academica/home.html" %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}

<section class="section">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3"><strong>Panel de análisis</strong></h1>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7ie4+AiHTqX5+7cNX2pTbVBjo6A+lMszKfP"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-QNVZyW/n5oK5BnEzG+O02mNF16l3B/6Y0uDRWXj1HspodE80N5tFzsyEJx2E0l9Y"
        crossorigin="anonymous"></script>
</section>

{% endblock %}
