{% extends "/gestion_academica/index.html" %}
{% block titulo %} Semestre {% endblock %}
{% block contenido %}

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.index') }}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.gestion_academica') }}">Módulo de Gestión Académica</a></li>
        <li class="breadcrumb-item active" aria-current="page">Semestres</li>
    </ol>
</nav>

<div class="container-fluid my-4">
    <div class="card w-100">
        <div class="card-header bg-red-usat text-white" id="headingOne" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Semestres
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabla-semestre" class="table table-striped tabla-semestres" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Fecha Inicio</th>
                            <th class="text-center">Fecha Fin</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos se cargarán dinámicamente -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- MODAL FACULTAD -->
<div class="modal fade" id="modalSemestre" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="formSemestre">
                    <input type="hidden" id="idSemestreMod" name="idSemestreMod">
                    <div class="mb-3">
                        <label for="nombreSemestreMod" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombreSemestreMod" name="nombreSemestreMod" required>
                    </div>
                    <div class="mb-3">
                        <label for="fechaInicioMod" class="form-label">Fecha Inicio:</label>
                        <input type="date" class="form-control" id="fechaInicioMod" name="fechaInicioMod" required></input>
                    </div>
                    <div class="mb-3">
                        <label for="fechaFinMod" class="form-label">Fecha Fin:</label>
                        <input type="date" class="form-control" id="fechaFinMod" name="fechaFinMod" required>
                    </div>
                    <div class="mb-3">
                        <label for="estadoMod" class="form-label">Estado:</label>
                        <select class="form-control" id="estadoMod" name="estadoMod" required>
                            <option value="" disabled selected>Seleccionar estado</option>
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                        </select>
                    </div>
                    <div class="text-end">
                        <button type="button" class="btn btn-danger" id="btnCancelar" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
                        <button type="button" class="btn btn-danger" id="btnCerrar" data-bs-dismiss="modal">Cerrar</button>
                    </div>   
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmar" tabindex="-1" aria-labelledby="modalConfirmarLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center fw-bold" id="modal-title-confirmar"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center">
                <p><span id="texto-confirmar"></span><strong id="nombreSemestreConfirmar"></strong>?</p>
                <input type="hidden" id="idSemestreConfirmar" name="idSemestreConfirmar">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="confirmarSemestre">Aceptar</button>
            </div>
        </div>
    </div>
</div>

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.print.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 

<script>
    $(document).ready(function () {
        if ($.fn.DataTable.isDataTable('#tabla-semestre')) {
            $('#tabla-semestre').DataTable().clear().destroy();
        }
        var table = $('#tabla-semestre').DataTable({
            paging: true,
            pageLength: 10,
            lengthMenu: [5, 10, 15, 20],
            info: true,
            responsive: true,
            autoWidth: true,
            searching: true,
            order: [], 
            dom: '<"top-controls d-flex justify-content-between"fB>rt<"bottom-controls"ip>',
            buttons: [
                {
                    text: '<i class="fas fa-plus"></i> Agregar Nuevo Semestre   ',
                    className: 'btnAgregar btn btn-primary mb-2',
                    action: function (e, dt, node, config) {
                        e.preventDefault();
                        $('#formSemestre')[0].reset();
                        $('#modalSemestre').modal('show');
                    }
                },   
                {
                    extend: 'collection',
                    text: '<i class="fas fa-file-export"></i> Exportar/Imprimir',
                    className: 'btn btn-secondary mb-2',
                    autoClose: true,
                    buttons: [
                        { extend: 'copy', text: '<i class="fas fa-copy"></i> Copiar', className: 'dropdown-item' },
                        { extend: 'csv', text: '<i class="fas fa-file-csv"></i> CSV', className: 'dropdown-item' },
                        { extend: 'excel', text: '<i class="fas fa-file-excel"></i> Excel', className: 'dropdown-item' },
                        { extend: 'pdf', text: '<i class="fas fa-file-pdf"></i> PDF', className: 'dropdown-item' },
                        { extend: 'print', text: '<i class="fas fa-print"></i> Imprimir', className: 'dropdown-item' }
                    ]
                }
                
            ],
            ajax: {
                url: "/datos_semestres",
                type: "GET",
                dataSrc: ""
            },
            processing: true,
            serverSide: false,
            columns: [
                { data: "idSemestre", className: 'text-center' },
                { data: "nombre", className: 'text-center'},
                { data: "fechaInicio", className: 'text-center'},
                { data: "fechaFin", className: 'text-center'},
                { 
                    data: "estado",
                    className: 'text-center',
                    render: function (data, type, row) {
                        return data === 'A' ? 'Activo' : 'Inactivo';
                    }
                },
                {
                    data: null, 
                    className: 'text-center',
                    render: function (data, type, row) {
                        return `
                            <button class="btn btn-primary btn-sm btnVer" data-id="${row.idSemestre}" title="Ver"><i class="fas fa-eye"></i></button>
                            <button class="btn btn-warning btn-sm btnModificar" data-id="${row.idSemestre}" title="Modificar"><i class="fas fa-pencil-alt"></i></button>
                            <button class="btn btn-danger btn-sm btnEliminar" data-id="${row.idSemestre}" data-nombre="${row.nombre}" title="Eliminar"><i class="fas fa-times"></i></button>
                            <button class="btn btn-secondary btn-sm btnDarDeBaja" data-id="${row.idSemestre}" data-nombre="${row.nombre}" title="Dar de Baja"><i class="fas fa-arrow-down"></i></button>
                        `;
                    }
                }
            ],
            language: {
                url: "{{ url_for('static', filename='js/es-ES.json') }}"
            }
        });

        // Función para mostrar alerta
        function mostrarAlerta(tipo, titulo, mensaje) {
            Swal.fire({
                icon: tipo,
                title: titulo,
                html: mensaje,
                showConfirmButton: true,
                timer: 5000
            });
        }

        // Función para formatear la fecha a dd/mm/yyyy
        function formatFechaParaInput(fecha) {
            const date = new Date(fecha);
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate() + 1).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        // Función para deshabilitar los controles
        function deshabilitarControles(){
            $('#idSemestreMod').prop('disabled', true);
            $('#nombreSemestreMod').prop('disabled', true);
            $('#fechaInicioMod').prop('disabled', true);
            $('#fechaFinMod').prop('disabled', true);
            $('#estadoMod').prop('disabled', true);
        }

        // Función para habilitar los controles
        function habilitarControles(){
            $('#idSemestreMod').prop('disabled', false);
            $('#nombreSemestreMod').prop('disabled', false);
            $('#fechaInicioMod').prop('disabled', false);
            $('#fechaFinMod').prop('disabled', false);
            $('#estadoMod').prop('disabled', false);
        }

        // Evento para Ver Semestre
        $('#tabla-semestre tbody').on('click', '.btnVer', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/obtener_semestre_por_id/' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        $('#modal-title').text("Ver Semestre");
                        $('#formSemestre')[0].reset();
                        $('#idSemestreMod').val(response.idSemestre);
                        $('#nombreSemestreMod').val(response.nombre);
                        $('#fechaInicioMod').val(formatFechaParaInput(response.fechaInicio));
                        $('#fechaFinMod').val(formatFechaParaInput(response.fechaFin));
                        $('#estadoMod').val(response.estado);
                        deshabilitarControles();
                        $('#btnCancelar').hide();
                        $('#btnGuardar').hide();
                        $('#btnCerrar').show();
                        $('#modalSemestre').modal('show');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al obtener la semestre.");
                }
            });
        });

        // Evento para Agregar Semestre
        $(document).on('click', '.btnAgregar', function (e) {
            e.preventDefault();
            $('#modal-title').text("Agregar Semestre");
            $('#formSemestre')[0].reset();
            $('#idSemestreMod').val('');
            $('#nombreSemestreMod').val('');
            $('#fechaInicioMod').val('');
            $('#fechaFinMod').val('');
            $('#estadoMod').val('');
            habilitarControles();
            $('#btnCancelar').show();
            $('#btnGuardar').show();
            $('#btnCerrar').hide();
            $('#modalSemestre').modal('show');
        });
        $('#formSemestre').submit(function (e) {
            e.preventDefault();
            if ($('#idSemestreMod').val() === '') {
                var data = {
                    nombre: $('#nombreSemestreMod').val(),
                    fechaInicio: $('#fechaInicioMod').val(),
                    fechaFin: $('#fechaFinMod').val(),
                    estado: $('#estadoMod').val(),
                };
                $.ajax({
                    url: '/agregar_semestre',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        if (response.error) {
                            mostrarAlerta("error", "Error", response.error);
                        } else {
                            mostrarAlerta("success", "Éxito", response.mensaje);
                            table.ajax.reload();
                            $('#modalSemestre').modal('hide');
                        }
                    },
                    error: function (xhr, status, error) {
                        mostrarAlerta("error", "Error", "Hubo un error al agregar la semestre.");
                    }
                });
            }
        });

        // Evento para Modificar Semestre
        $('#tabla-semestre tbody').on('click', '.btnModificar', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/obtener_semestre_por_id/' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        $('#modal-title').text("Modificar Semestre");
                        $('#formSemestre')[0].reset();
                        $('#idSemestreMod').val(response.idSemestre);
                        $('#nombreSemestreMod').val(response.nombre);
                        $('#fechaInicioMod').val(formatFechaParaInput(response.fechaInicio));
                        $('#fechaFinMod').val(formatFechaParaInput(response.fechaFin));
                        $('#estadoMod').val(response.estado);
                        habilitarControles();
                        $('#btnCancelar').show();
                        $('#btnGuardar').show();
                        $('#btnCerrar').hide();
                        $('#modalSemestre').modal('show');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al obtener la semestre.");
                }
            });
        });
        $('#formSemestre').submit(function (e) {
            e.preventDefault();
            var data = {
                idSemestre: $('#idSemestreMod').val(),
                nombre: $('#nombreSemestreMod').val(),
                fechaInicio: $('#fechaInicioMod').val(),
                fechaFin: $('#fechaFinMod').val(),
                estado: $('#estadoMod').val(),
            };
            $.ajax({
                url: '/modificar_semestre',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        mostrarAlerta("success", "Éxito", response.mensaje);
                        table.ajax.reload();
                        $('#modalSemestre').modal('hide');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", "Hubo un error al modificar la semestre.");
                }
            });
        });

        // Evento para Eliminar Semestre
        $('#tabla-semestre tbody').on('click', '.btnEliminar', function () {
            var id = $(this).data('id');
            var nombre = $(this).data('nombre');
            $('#modal-title-confirmar').text('Eliminar Semestre');
            $('#texto-confirmar').text('¿Estás seguro de que deseas eliminar la semestre ');
            $('#nombreSemestreConfirmar').text(nombre);
            $('#idSemestreConfirmar').val(id);
            $('#confirmarSemestre').data('accion', 'eliminar');
            $('#modalConfirmar').modal('show');
        });

        // Evento para Dar de Baja Semestre
        $('#tabla-semestre tbody').on('click', '.btnDarDeBaja', function () {
            var id = $(this).data('id');
            var nombre = $(this).data('nombre');
            $('#modal-title-confirmar').text('Dar de Baja Semestre');
            $('#texto-confirmar').text('¿Estás seguro de que deseas dar de baja la semestre ');
            $('#nombreSemestreConfirmar').text(nombre);
            $('#idSemestreConfirmar').val(id);
            $('#confirmarSemestre').data('accion', 'darDeBaja');
            $('#modalConfirmar').modal('show');
        });

        // Evento para Confirmar
        $('#confirmarSemestre').click(function () {
            var id = $('#idSemestreConfirmar').val();
            var accion = $(this).data('accion');
            var url = '';
            var mensajeExito = '';
            var mensajeError = '';
            if (accion === 'eliminar') {
                url = '/eliminar_semestre';
                mensajeExito = 'La semestre fue eliminado correctamente';
                mensajeError = 'Hubo un error al eliminar la semestre.';
            } else if (accion === 'darDeBaja') {
                url = '/dar_de_baja_semestre';
                mensajeExito = 'La semestre fue dado de baja correctamente';
                mensajeError = 'Hubo un error al dar de baja la semestre.';
            }
            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ idSemestre: id }),
                success: function (response) {
                    if (response.error) {
                        mostrarAlerta("error", "Error", response.error);
                    } else {
                        mostrarAlerta("success", "Éxito", mensajeExito);
                        table.ajax.reload();
                        $('#modalConfirmar').modal('hide');
                    }
                },
                error: function (xhr, status, error) {
                    mostrarAlerta("error", "Error", mensajeError);
                }
            });
        });

    });
</script>
{% endblock %}
{% endblock %}
