{% extends "/gestion_academica/index.html" %}
{% block titulo %}Perfil{% endblock %}
{% block contenido %}

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('router_main.index') }}">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Perfil</li>
    </ol>
</nav>

<div class="container-perfil">
  <div class="row align-items-stretch">
      <div class="col-md-6 d-flex flex-column">
          <div class="card flex-grow-1 mb-3">
            <div class="card-header bg-red-usat text-white position-relative d-flex align-items-center">
                Credenciales
                <div id="falsodiv"></div>
                <button id="btnEditarCredenciales">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </div>      
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-6 mb-3">
                          <label for="usuario" class="form-label">Usuario:</label>
                          <input type="text" class="form-control" id="usuario" readonly>
                      </div>
                      <div class="col-md-6 mb-3">
                          <label for="contraseña" class="form-label">Contraseña:</label>
                          <input type="password" class="form-control" id="contraseña" readonly>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card flex-grow-1">
              <div class="card-header bg-red-usat text-white d-flex justify-content-between align-items-center">
                  <span class="header-text">Mis Datos</span>
                  <div id="falsodiv"></div>
                  <button id="btnEditarDatos">
                      <i class="fas fa-pencil-alt"></i>
                  </button>
              </div>   
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-6 mb-3">
                          <label for="correoPersonal" class="form-label">Correo Personal:</label>
                          <input type="email" class="form-control" id="correoPersonal">
                      </div>
                      <div class="col-md-6 mb-3">
                          <label for="telefono1" class="form-label">Teléfono 1:</label>
                          <input type="text" class="form-control" id="telefono1">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 mb-3">
                          <label for="telefono2" class="form-label">Teléfono 2:</label>
                          <input type="text" class="form-control" id="telefono2">
                      </div>
                      <div class="col-md-6 mb-3">
                          <label for="genero" class="form-label">Género:</label>
                          <input type="text" class="form-control" id="genero" readonly>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 d-flex flex-column">
          <div class="card flex-grow-1 d-flex flex-column justify-content-center align-items-center">
              <h2 class="text-center mb-4" id="apellidosNombres">Apellidos y Nombre</h2>
              <div class="position-relative mb-4">
                  <img src="/static/img/default-profile.png" alt="Foto de Perfil" id="fotoPerfil" class="foto-perfil">
                  <div class="foto-perfil-hover">
                      <span>Haz click para cambiar</span>
                      <input type="file" id="inputFotoPerfil" accept="image/*" style="display: none;">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- MODAL CREDENCIALES -->
<div class="modal fade" id="modalCredenciales" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="formCredenciales">
                    <input type="hidden" id="idUsuarioMod" name="idUsuarioMod">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="usernameMod" class="form-label">Usuario:</label>
                            <input type="text" class="form-control" id="usernameMod" name="usernameMod" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="contraseñaMod" class="form-label">Contraseña Actual:</label>
                            <input type="text" class="form-control" id="contraseñaMod" name="contraseñaMod" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nuevaMod" class="form-label">Nueva Contraseña:</label>
                            <input type="text" class="form-control" id="nuevaMod" name="nuevaMod" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="confirmadaMod" class="form-label">Confirmar Contraseña:</label>
                            <input type="text" class="form-control" id="confirmadaMod" name="confirmadaMod" required>
                        </div>
                    </div> 
                    <div class="text-end">
                        <button type="button" class="btn btn-danger" id="btnCancelar" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
                    </div>   
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<script>

</script>
